<md-dialog class="ks-lotteryList" style="min-width: 260px" layout="column">
    <md-toolbar>
        <div class="ks-lotteryRules-title">
            <label ng-if="!vmd.flog">完善个人信息</label>
            <label ng-if="vmd.flog" style="font-size: 16px;font-weight: bold;">关注公众号,参加助力</label>

            <div class="ks-lotteryRules-cancel" ng-click="vmd.cancel()">
                <!--+-->
            </div>
        </div>
    </md-toolbar>
    <md-dialog-content class="ks-lotteryRules-main" style="min-height: 240px">
        <div class="ks-lotteryRules-list" ng-if="!vmd.flog">
            <div style="height: 30px"></div>
            <input type="tel" placeholder="输入手机号" ng-change="vmd.checkPhone()" ng-model="vmd.user.phone"
                   style="text-indent:13px;width: 100%;border: none;margin: 0;padding: 0;border-radius: 4px"/>
            <md-button ng-click="bindPhone()" style="font-weight: bold;border-radius: 4px">确定</md-button>
            <p style="font-size: 12px;color: #999;text-align: left;margin: 0; text-indent: 5px;">绑定手机号才能参加活动哦~</p>
        </div>
        <div class="ks-lotteryRules-list" ng-if="vmd.flog" layout="column" layout-align="center center">
            <div style="height: 25px"></div>
            <img src="https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket={{vmd.qrCode}}"
                 style="border: 1px solid #e8e8e8"
                 width="150px" height="150px" alt="">
            <p style="font-size: 14px;color: #999">长按识别二维码参与活动</p>
        </div>
    </md-dialog-content>
</md-dialog>