<div class="ks-refundOrder"  flex="100" layout="column">
    <div class="ks-white-header" layout="row">
        <div class="back-button" flex="20" ng-click="fallbackPage()">
            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ag-arrow_left"></md-icon>
        </div>
        <h1 flex>退款/售后</h1>
        <div class="right-button" flex="20">
        </div>
    </div>
    <div class="line"></div>
    <div class="bg-line"></div>
    <md-content flex style="overflow-x:hidden;background: #f5f5f5;">
        <div class="main" layout="column">
            <div layout="column" flex layout-align="top center" class="noOrder" ng-if="noOrder">
                <div class="img-con" layout="row" layout-align="center center">
                    <img src="noGoods.png" class="noGoods">
                </div>
                <div class="noGoods-word">暂无退款/售后订单！</div>
            </div>
            <div layout="column" class="center-con" ng-if="!noOrder">
                <!--ng-repeat一个订单-->
                <div class="center-tab" layout="column" ng-repeat="item in items">
                    <div class="center-tab-top">
                        <div class="tab-top" layout="row" layout-align="start center">
                            <div class="order-num">订单号：{{item.seq}}</div>
                        </div>
                        <div class="line"></div>
                       <!--ng-repeat   一个订单的n个商品-->
                        <div class="order-gooods" layout="column" ng-repeat="refundSku in item.skus">
                            <div layout="row" ui-sref="main.brandApp.store.personalCenter.refundDetail({refundId:item.id})">
                                <div class="img-con">
                                    <img ng-src="{{refundSku.skuImg[0]}}">
                                </div>
                                <div layout="column" class="img-right" flex >
                                    <div layout="row" class="goods-top" layout-align="space-between center">
                                        <div class="title" flex>{{refundSku.title}}</div>
                                        <div layout="column" class="price-right">
                                            <div class="price"></div>
                                            <div class="del-price"></div>
                                            <div class="num"></div>
                                        </div>
                                    </div>
                                    <div class="goods-bottom" layout="row" layout-align="start center">
                                        <div class="goods-type">
                                            <span ng-repeat="sku in refundSku.skuSpecs" style="margin-right: 5px;">{{sku.propValue}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="line"></div>
                        </div>
                        <!--共几件商品-->
                        <div layout="row" layout-align="space-between center" class="all">
                            <div class="all-num">{{item.refundTypeDesp}}  {{item.refundStatusDesp}}</div>
                            <div class="all-price">退款金额：￥{{item.refundMoney/100 | num:2}}</div>
                        </div>
                        <div class="line" ng-if="item.refundType=='ITEM' && item.refundStatus=='WAIT_BUYER_SENDING'"></div>
                        <!--按钮       只有状态为退货退款并且待寄件时才可以填写物流信息-->
                        <div class="btn" layout-align="end center" layout="row" ng-if="item.refundType=='ITEM' && item.refundStatus=='WAIT_BUYER_SENDING'">
                            <button class="refund" ui-sref="main.brandApp.store.personalCenter.writeLogistics({refundId:item.id})">填写快递单号</button>
                        </div>
                    </div>
                    <div class="bg-line"></div>
                </div>
                <!--点击加载更多-->
                <div layout="row" layout-align="center center" style="height: 30px;" ng-if="page<dataNum.totalPages" ng-click="getInfo(page)">
                    点击加载更多
                </div>
                <div style="margin-bottom: 30px;" layout="row" layout-align="center center" style="height: 30px;" ng-if="page>=dataNum.totalPages && page!='1'">
                    暂无更多
                </div>
                <!--<div class="center-tab" layout="column">-->
                    <!--<div class="center-tab-top">-->
                        <!--<div class="tab-top" layout="row" layout-align="start center">-->
                            <!--<div class="order-num">订单号：2017091438523</div>-->
                        <!--</div>-->
                        <!--<div class="line"></div>-->
                        <!--&lt;!&ndash;ng-repeat   一个订单的n个商品&ndash;&gt;-->
                        <!--<div class="order-gooods" layout="column">-->
                            <!--<div layout="row">-->
                                <!--<div class="img-con">-->
                                    <!--<img ng-src="">-->
                                <!--</div>-->
                                <!--<div layout="column" class="img-right" flex >-->
                                    <!--<div layout="row" class="goods-top" layout-align="space-between center">-->
                                        <!--<div class="title" flex>Friso/美素金装儿童奶粉4段120asdcd</div>-->
                                        <!--<div layout="column" class="price-right">-->
                                            <!--<div class="price">￥110</div>-->
                                            <!--<div class="del-price">￥220</div>-->
                                            <!--<div class="num">x&nbsp;1</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="goods-bottom" layout="row" layout-align="start center">-->
                                        <!--<div class="goods-type">xl</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="line"></div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash;共几件商品&ndash;&gt;-->
                        <!--<div layout="row" layout-align="space-between center" class="all">-->
                            <!--<div class="all-num">退货退款 待寄件</div>-->
                            <!--<div class="all-price">退款金额：￥598.00</div>-->
                        <!--</div>-->
                        <!--<div class="line"></div>-->
                        <!--&lt;!&ndash;按钮&ndash;&gt;-->
                        <!--<div class="btn" layout-align="end center" layout="row">-->
                            <!--<button class="refund">填写快递单号</button>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="bg-line"></div>-->
                <!--</div>-->
            </div>
        </div>
    </md-content>
</div>