<!--<div class="pwd-login" flex layout="row" layout-align="center center">-->
    <!--<div class="pwd-content" layout="column">-->
        <!--<div class="content-top">授权登录</div>-->
        <!--<div class="content-main" flex>-->
            <!--<div class="form" layout="column">-->
                <!--<div flex>-->
                    <!--<input type="tel" ng-model="username" class="form-control-btn" placeholder="手机号">-->
                <!--</div>-->

                <!--<div class="line"></div>-->
                <!--<div flex>-->
                    <!--<input type="password" ng-model="password" class="form-control-btn" placeholder="密码">-->
                <!--</div>-->

            <!--</div>-->

            <!--<div class="login-btn" ng-click="login()">-->
                <!--登录-->
            <!--</div>-->
            <!--<div class="sign-in">-->
                <!--没有账号？去注册-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--wxMp-->

<!--<div flex="" layout="column">-->

    <!--<div layout="row">-->
        <!--<span style="width: 100px"> URL :</span>-->
        <!--<input type="text" ng-model="url">-->
    <!--</div>-->
    <!--<div>-->
        <!--<span style="width: 100px"> URL :</span>-->
        <!--<span flex>{{url}} </span>-->
    <!--</div>-->
    <!--<div>-->
        <!--<div><button ng-click="checkLogin()">检查是否已经登录</button></div>-->
        <!--<div><button ng-click="getUrl()">获取微信登录URL</button></div>-->
        <!--&lt;!&ndash;<div><button ng-click="goWx()">去微信授权</button></div>&ndash;&gt;-->
        <!--<div><button ng-click="login()">登录</button></div>-->
    <!--</div>-->

    <!--<div>-->
        <!--以下测试手机号绑定-->
        <!--<div><button ng-click="phoneLogin()">手机号登录</button></div>-->
        <!--<div><button ng-click="bindSessionWxMp()">绑定SESSION中最后一次授权的微信号</button></div>-->
    <!--</div>-->
<!--</div>-->