<div flex="100" layout="column" class="ks-shareShop">
    <div class="ks-white-header" layout="row">
        <div class="back-button" flex="20" ng-click="fallbackPage()">
            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ag-arrow_left"></md-icon>
        </div>
        <h1 flex>店铺二维码</h1>
        <!--ui-sref="main.brandApp.unionOrder({from:'purchase'})"-->
        <div class="right-button" flex="20">
        </div>
    </div>
    <md-divider></md-divider>
    <div class="parent" id="parent"  style="position: fixed;top: 0;"   ng-hide="cancassuccess">  <!---->
        <div id="img-wrap" class="img-wrap" layout="column" layout-align="center center">
            <div class="shopName">{{data.name}}</div>

            <div class="img-code">
                <img class="shopImg" ng-src="{{data.img}}" ng-if="data.img" alt="">
                <qrcode data="{{qrCodeUrl}}" size="127" version="5" color="#E53467 " background="#fff"></qrcode>
            </div>
            <div class="div-wrap" layout="column" layout-align="center center">
                <div class="img-title">Hi,这是我的店铺</div>
                <div class="img-dis">长按识别二维码,进店逛逛吧</div>
            </div>
        </div>
    </div>
    <md-content flex>
        <div class="parent2">
            <div class="img-wrap" layout="column" layout-align="center center">
                <div class="img-code">
                    <img ng-src="{{dataUrl}}" ng-show="dataUrl">
                </div>
            </div>
        </div>
    </md-content>


    <div class="footer" layout="column" layout-align="center center">
        <div>长按二维码,保存到手机</div>
        <div>分享给朋友/朋友圈,炫耀你的店铺吧</div>
    </div>
</div>