<!--<div ng-if="loginType != 'PASSWORD'">-->
    <!--<div>aaa</div>-->
    <!--&lt;!&ndash;<div> response_type <input type="text" ng-model="responseType"> </div>&ndash;&gt;-->
    <!--<div layout="row">-->
        <!--<span style="width:100px;">client_id</span>-->
        <!--<input flex type="text" ng-model="clientId">-->
    <!--</div>-->
    <!--<div layout="row">-->
        <!--<span style="width:100px;">redirect_uri</span>-->
        <!--<input flex type="text" ng-model="redirectUri">-->
    <!--</div>-->
    <!--<div layout="row">-->
        <!--<span style="width:100px;">scope</span>-->
        <!--<input flex type="text" ng-model="scope">-->
    <!--</div>-->
    <!--<div layout="row">-->
        <!--<span style="width:100px;">state</span>-->
        <!--<input flex type="text" ng-model="state">-->
    <!--</div>-->

    <!--<div>-->
        <!--原来的：-->
        <!--<button ng-click="oldImplicitAuthorize()">implicit 授权</button>-->
    <!--</div>-->

    <!--<div>-->
        <!--新的：-->
        <!--<button ng-click="goImplicitAuthorize()">implicit 授权</button>-->
        <!--<button ng-click="goCodeAuthorize()">Authorize code 授权</button>-->
    <!--</div>-->
<!--</div>-->


<!---------------------------------------------------------------------------------------------------帐号密码登录-->
<!--<div class="pwd-login" flex layout="row" layout-align="center center" ng-if="loginType == 'PASSWORD'">-->
    <!--<div class="pwd-content" layout="column">-->
        <!--<div class="content-top">授权登录</div>-->
        <!--<div class="content-main" flex>-->
            <!--<div class="form" layout="column">-->
                <!--<div flex>-->
                    <!--<input type="tel" ng-model="username" class="form-control-btn" placeholder="手机号">-->
                <!--</div>-->

                <!--<div class="line"></div>-->
                <!--<div flex>-->
                    <!--<input type="password" ng-model="password" class="form-control-btn" placeholder="密码">-->
                <!--</div>-->

            <!--</div>-->

            <!--<div class="login-btn" ng-click="login()">-->
                <!--登录-->
            <!--</div>-->
            <!--<div class="sign-in">-->
                <!--没有账号？去注册-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

