// Mixins

// -------------------------------------------------- bootstrap
@import "bootstrap/mixins/hide-text";
@import "bootstrap/mixins/opacity";
@import "bootstrap/mixins/image";
@import "bootstrap/mixins/labels";
@import "bootstrap/mixins/reset-filter";
@import "bootstrap/mixins/resize";
@import "bootstrap/mixins/responsive-visibility";
@import "bootstrap/mixins/size";
@import "bootstrap/mixins/tab-focus";
@import "bootstrap/mixins/reset-text";
@import "bootstrap/mixins/text-emphasis";
@import "bootstrap/mixins/text-overflow";
@import "bootstrap/mixins/vendor-prefixes";

// -------------------------------------------------- flex
@import "sass-flex-mixin/flex";




// -------------------------------------------------- kingsilk
@mixin transform($transform) {
  -webkit-transform: scaleX($transform);
  -ms-transform: scaleX($transform); // IE9 only
  -o-transform: scaleX($transform);
  transform: scaleX($transform);
}