<div class="ks-addGoods"  flex="100" layout="column">
    <div class="ks-white-header" layout="row">
        <div class="back-button" flex="20" ng-click="fallbackPage()">
            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ag-arrow_left"></md-icon>
        </div>
        <h1 flex>商品分类</h1>
        <div class="right-button" flex="20" style="color: #E53467;" ng-click="add()">
            新增
        </div>
    </div>
    <div class="center-line"></div>
    <!--无商品分类空白页面-->
    <md-content flex style="overflow-x:hidden;background: #f5f5f5;" ng-if="noGood">
        <div class="main-noGoods" layout="column">
            <div layout="row" layout-align="center" class="img-con">
                <img src="noGoods.png"  class="noGoods">
            </div>
            <div layout-align="center" layout="row" class="noGoods-word">
                您还没有商品分类哦，快去新增吧
            </div>
        </div>
    </md-content>
    <md-content flex style="overflow-x:hidden;background: #f5f5f5;" ng-if="!noGood">
        <div class="main" layout="column">
            <!--<div layout="row" class="edit-ts">【向左滑动】可选择新增/编辑/删除</div>-->
            <div layout="column" class="center-con">
                <div class="center-tab" layout="column" ng-repeat="item in items">
                    <!--父级-->
                    <div class="tab-parent" layout="row" layout-align="space-between center"
                        >
                        <div class="tab-parent-left">{{item.name}}</div>
                        <div class="tab-parent-right"  layout="row">
                            <div class="right-btn-add" ng-click="add(item.id)">新增</div>
                            <div class="right-btn-edit" ng-click="edit(item.id)">编辑</div>
                            <div class="right-btn-del" ng-click="delte(item.id)">删除</div>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="tab-sublevel" layout="column" ng-repeat="subItem in item.subarr">
                        <div class="sublevel" layout="row" layout-align="space-between center"
                             md-swipe-left="onSwipeLeft(subItem)" md-swipe-right="onSwipeRight(subItem)">
                            <div class="tab-sublevel-left">{{subItem.name}}</div>
                            <div class="tab-sublevel-right" ng-class="{true: 'touchLeft', false: 'touchRight'}[subItem.moveLeft]" layout="row">
                                <div class="right-btn-add"></div>
                                <div class="right-btn-edit"  ng-click="edit(subItem.id,subItem.parentId)">编辑</div>
                                <div class="right-btn-del" ng-click="delte(subItem.id)">删除</div>
                            </div>
                        </div>
                        <div class="line" ng-if="!$last"></div>
                    </div>
                    <div class="center-line" ng-if="!$last"></div>
                </div>
            </div>
        </div>
    </md-content>
    <!--增加商品分类-->
    <script type="text/ng-template" id="addGood.html">
        <!--<div class="md-dialog-container ">-->
            <md-dialog aria-label="" class="addGood" style="overflow: initial;">
                <!--<md-icon class="ks-icon close-tck" md-font-set="ks-icon" md-font-icon="ag-closed-o" ng-click="vmd.cance()"></md-icon>-->
                <div class="dis">新增分类</div>
                <div class="rowLine"></div>
                <div class="address-dis">
                    <div class="dis-code" layout="column" flex>
                        <input type="text" placeholder="请输入分类名称" flex ng-model="vmd.name" ng-change="vmd.check(vmd.name)">
                        <input type="tel" placeholder="请输入排序号" flex ng-model="vmd.number">
                    </div>
                    <div class="dis-ts" layout="row" flex
                         style="line-height: 16px;margin-bottom: 15px;font-size: 14px;color: #e84e40;"
                        ng-if="vmd.noName" >
                        分类名称不得为空！
                    </div>
                </div>
                <div class="rowLine"></div>
                <div layout="row" layout-align="center center">
                    <div flex style="font-size: 18px;text-align: center"  ng-click="vmd.cance()">取消</div>
                    <div class="line"></div>
                    <div flex style="font-size: 18px;text-align: center;color: #e53467;" ng-click="vmd.confirm()">确定</div>
                </div>
            </md-dialog>
        <!--</div>-->
    </script>
</div>