@import "../../../../../scss/index.scss";

.ks-voteHome {
  background: $activity-bg-white;
  .search{
    margin: 6px 15px;
    height: 32px;
    min-height: 32px;
    .search-input{
      background: #f5f5f5;
      border-radius: 8px;
      position: relative;
      height: 100%;
      .left{
        margin-left: 15px;
        margin-right: 10px;
        md-icon{
          font-size: 12px;
          height: 32px;
          line-height: 32px;
          width: 12px;
          min-width: 12px;
          color: #999999;
        }
      }
      .right{
        margin-left: 10px;
        margin-right: 10px;
        md-icon{
          font-size: 12px;
          height: 32px;
          line-height: 32px;
          width: 12px;
          min-width: 12px;
          color: #999999;
        }
      }
      .con{
        input{
          width: 100%;
          border: none;
          background: #F5F5F5;
          border-radius: 8px;
          height: 32px;
          line-height: 32px;
        }
        input::-webkit-input-placeholder { /* WebKit browsers */
          font-size: 14px;
          letter-spacing: -0.34px;
          //text-align: center;
        }
        input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          font-size: 14px;
          letter-spacing: -0.34px;
          //text-align: center;
        }
        input::-moz-placeholder { /* Mozilla Firefox 19+ */
          font-size: 14px;
          letter-spacing: -0.34px;
          //text-align: center;
        }
      }
    }
    .search-btn{
      color: #333333;
      margin-left: 10px;
      font-size: 14px;
      height: 32px;
      line-height: 32px;
    }
  }
  .tab {
    background: #fff;
    .tab-btn {
      padding: 0 20px;
      .btn {
        display: block;
        padding: 10px 0;
        color: #333;
        border-bottom: 1px solid #fff;
      }
      .active {
        border-bottom: 1px solid #E53467;
        color: #E53467 !important;
      }
    }

  }

  md-content{
    .voteList{
      margin: 15px;
      background: #ffffff;
      height: 95px;
      position: relative;
      .title{
        padding: 0 20px;
        margin-bottom: 10px;
        width: 100%;

        .left{
          font-size: 16px;
          height: 16px;
          line-height: 16px;
          color: #333333;
          overflow: hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
        }
        .right{
          font-size: 14px;
          height: 16px;
          line-height: 16px;
          color: #E53467;
        }
      }

      .time{
        padding: 0 20px;
        width: 100%;
        margin-top: 10px;


        .left{
          height: 12px;
          font-size: 12px;
          line-height: 12px;
          color: #666666;
        }
        .right{
          color: #999999;
          height: 12px;
          font-size: 30px;
          line-height: 0px;
          min-width: 40px;
          text-align: right;
        }
      }

      .listDialog{
        position: absolute;
        top: 70px;
        right: 0;
        //background: #fff;
        z-index: 10;
        background: url("dialogBG.png") no-repeat;
        background-size: 100% 100%;
        .triangle-up {
          height: 12px;
        }
        .dialog-btn{
          font-size: 13px;
          color: #333333;
          margin: 0 15px;
          span{
            margin: 20px 7px;
          }
        }
      }

    }

    .voteList2{
      margin: 15px;
      background: #ffffff;
      height: 95px;
      position: relative;
      .title{
        padding: 0 20px;
        margin-bottom: 10px;
        width: 100%;

        .left{
          font-size: 16px;
          height: 16px;
          line-height: 16px;
          color: #999;
          overflow: hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
        }
        .right{
          font-size: 14px;
          height: 16px;
          line-height: 16px;
          color: #999;
        }
      }

      .time{
        padding: 0 20px;
        width: 100%;
        margin-top: 10px;


        .left{
          height: 12px;
          font-size: 12px;
          line-height: 12px;
          color: #999;
        }
        .right{
          color: #999;
          height: 12px;
          font-size: 30px;
          line-height: 0px;
          min-width: 40px;
          text-align: right;
        }
      }

      .listDialog{
        position: absolute;
        top: 70px;
        right: 0;
        //background: #fff;
        z-index: 10;
        background: url("dialogBG.png") no-repeat;
        background-size: 100% 100%;
        .triangle-up {
          height: 12px;
        }
        .dialog-btn{
          font-size: 13px;
          color: #999;
          margin: 0 15px;
          span{
            margin: 20px 7px;
          }
        }
      }

    }
  }




}