<div class="ks-busApplication">
    <div class="common-list-center">
        <ul layout="column">
            <li layout="row" >
                <span ui-sref="main.brandApp.business.busAppAdd({id:id})" ng-if="BRANDAPP_C">新增</span>
            </li>
            <br style="clear: both">
        </ul>
    </div>
    <!--div数据表详细信息-->
    <div class="common-list-detail" layout="column">
        <!--表头-->
        <div class="common-list-detail-thead" layout="row" >
            <div class="thead-show" flex="15" layout-align="center">
                <span>商铺名称</span>
            </div>
            <div class="thead-show" flex="15" layout-align="center">
                <span>类型</span>
            </div>
            <div class="thead-show" flex="20" layout-align="center">
                <span>有效时间</span>
            </div>
            <div class="thead-show" flex="15" layout-align="center" style="overflow: hidden;">
                <span>创建人</span>
            </div>
            <div class="thead-show" flex="15" layout-align="center" style="overflow: hidden;">
                <span>创建日期</span>
            </div>
            <div class="thead-show" flex="20" layout-align="center">
                <span>操作</span>
            </div>
        </div>
        <!--表格详细内容-->
        <div class="common-list-detail-tbody" layout="column" ng-repeat="item in data.content">
            <!--定义每列数据    父级用ng-repeat循环此行-->
            <div class="common-list-detail-row" layout="row">
                <div class="thead-show" flex="15" layout-align="center">
                    <span>{{item.name}}</span>
                </div>
                <div class="thead-show" flex="15" layout-align="center">
                    <span>{{item.appName}}</span>
                </div>
                <div class="thead-show" flex="20" layout-align="center">
                    <span>{{item.date |date:'yyyy-MM-dd'}}</span>
                </div>
                <div class="thead-show" flex="15" layout-align="center" style="white-space: nowrap;overflow: hidden; text-overflow:ellipsis">
                    <span>{{item.creatBy}}</span>
                </div>
                <div class="thead-show" flex="15" layout-align="center" style="white-space: nowrap;overflow: hidden; text-overflow:ellipsis">
                    <span>{{item.creatDate | date:'yyyy-MM-dd'}}</span>
                </div>
                <div class="thead-show" flex="20" layout-align="center">
                    <span ui-sref="#" ng-if="BRANDAPP_L">付费记录</span>
                    <span ui-sref="main.brandApp.business.busAppView({appId:item.id,brandId:id})" ng-if="BRANDAPP_R">查看</span>
                    <span ng-click="delBusApplication(item.id)" ng-if="BRANDAPP_D">删除</span>
                </div>
            </div>
        </div>
    </div>
    <!--分页-->
    <div style="width: 100%; padding:0px 20px;">
        <div style="width: 500px;min-width: 500px" uib-pagination total-items="data.totalElements"
             ng-model="curPage"
             ng-change="pageChanged()"
             class="pagination-sm col-sm-9" boundary-links="true" max-size="5" rotate="rotate"
             items-per-page="data.size" previous-text="<" next-text=">" first-text="|<" last-text=">|">
        </div>
        <div style="float: right" class="pageSubnav">
            <span>共{{data.totalElements}} 条</span>
            <!--<span>页数{{data.number}} / {{data.totalPages}}</span>-->
            到第<input type="text" ng-model="curPage">页
            <md-button>确定</md-button>
        </div>
    </div>
</div>

