
.wxLogin {
  .content-divWrap {
    .topWrap {
      margin-top: 22%;
      .txt {
        margin: 5px 0;
        color: #101010;
        font-size: 14px;
      }
    }
    .font {
      font-size: 60px;
      color: #0eb83a;
      line-height: 60px;
      margin: 10% 0;
    }
    .btnWrap {
      width: 100%;
      padding: 0 20px;
      margin-top: 20px;
      .btn {
        border-radius: 0;
        width: 100%;
        height: 40px;
        min-height: 40px;
        text-align: center;
        background: #333;
        line-height: 40px;
        color: #fff;
        cursor: pointer;
      }
    }
    .bottomTxt {
      margin-left: 40px;
      margin-top: 20px;
      width: 100%;
      color: #666;
      font-size: 14px;
      a {
        color: #ba9f6e;
        text-decoration: underline;
      }
    }
  }
}

#qh-activity-wap-front{
  .ks-main{
    @media (max-width: 600px) {
      min-width: 100% !important;
      width: 100%;
      box-shadow: 0px 1px 1px #101010;
      margin: 0 auto;
    }
    @media (min-width: 600px) {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 0px 1px 1px #101010;
    }
    @media (max-width: 320px) {
      min-width: 320px !important;
      width: 100%;
      box-shadow: 0px 1px 1px #101010;
      margin: 0 auto;
    }
  }
}