/*
 * 该文件是全局配置。
 */
html, body {
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "Heiti SC", "Roboto", "Droid Sans", "Noto Sans CJK SC", "Droid Sans Fallback", Tahoma, Arial, Simsun, sans-self;
  font-size: 14px;
  color: #101010;
}

/**
 * 主要内容区域
 */
.ks-main {

  //border: 1px solid #d5d5d5;
  // 当小于 600px 时，百分比宽度。否则600px;
  @media (max-width: 600px) {
    min-width: 100% !important;
    width: 100%;
    box-shadow: 0px 1px 1px #101010;
    margin: 0 auto;
  }
  @media (min-width: 600px) {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 1px 1px #101010;
  }
  @media (max-width: 320px) {
    min-width: 320px !important;
    width: 100%;
    box-shadow: 0px 1px 1px #101010;
    margin: 0 auto;
  }
  h1 {
    color: #101010;
    font-size: 18px;
  }
  md-content {
    overflow-x: hidden;
  }
  // 使内容区域有顶部边框
  md-content.top-border {
    //暂时不要了
    // border-top: 1px solid rgba(0, 0, 0, 0.12);
  }
  //统一 md-content 字体颜色
  md-content.md-default-theme, md-content {
    background: #fff;
    color: #101010;
  }
  /*.ks-icon {
    color: #101010;
  }*/
  .empty {
    .icon {
      font-size: 40px;
      line-height: 40px;
      margin: 0 0 15px;
      color: #e6e6e6;
    }
    .txt {
      color: #999;
    }
  }
}

/**
*顶部工具栏
*分白色和黑色背景
*/
.ks-black-header, .ks-white-header {
  height: 44px;
  font-size: 16px;
  min-height: 44px;
  .back-button {
    font-size: 14px;
    text-align: left;
    line-height: 44px;
    padding-left: 15px;
  }
  h1 {
    font-size: 20px;
    text-align: center;
    height: 44px;
    line-height: 44px;
    margin: 0;
    font-weight: normal;
  }
  .ks-icon {
    font-size: 16px;
    line-height: 20px;
    //width: 40px;
  }
  .right-button {
    font-size: 14px;
    text-align: right;
    line-height: 44px;
    padding-right: 20px;
    white-space: nowrap;
  }
}

/*
*黑色背景
**/
.ks-black-header {
  background: #101010;
  color: #fff;
  .back-button, h1, .ks-icon, .right-button {
    color: #fff;
  }
}

.info-line {
  width: 100%;
  height: 10px;
  min-height: 10px;
  background: #F5F5F5;
}

/*
*白色背景
**/
.ks-white-header {
  background: #fff;
  color: #101010;
  .back-button, h1, .ks-icon, .right-button {
    color: #101010;
  }
  .tab-wtap {
    overflow: hidden;
    width: 140px;
    height: 32px;
    border: 1px solid #53D39A;
    color: #53D39A;
    font-size: 16px;
    letter-spacing: -0.39px;
    border-radius: 8px;
    line-height: 32px;
    text-align: center;
  }
  .tabActive {
    background: #53D39A;
    color: #fff;
  }
}

/**
 * 分割线，并控制在移动端显示为1px
 */
md-divider {
  border-color: #d5d5d5;
  //height: 1px;
  -webkit-transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  overflow: hidden;
  &.dashed {
    border-top-style: dashed;
  }
}

/**
 * 设置背景图片。
 */
img[img-holder] {
  // 钱皇logo,需要把其中
  background: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?> <svg version="1.1" id="图层_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="200px" height="200px" viewBox="0 0 200 200" enable-background="new 0 0 200 200" xml:space="preserve"> <path fill="%23d5d5d5" d="M122.708,79.898c-10.589,1.456-17.731-0.123-19.256-2.016v-2.086c0-0.167,0.123-0.303,0.275-0.303h0.513c0.151,0,0.274-0.136,0.274-0.303v-1.851c0-0.168,0.124-0.304,0.276-0.304c0.151,0,0.273-0.135,0.273-0.302v-1.671c0-0.458-0.336-0.83-0.753-0.83h-7.367c-0.416,0-0.754,0.371-0.754,0.83v1.671c0,0.167,0.123,0.302,0.274,0.302s0.275,0.135,0.275,0.304v1.851c0,0.167,0.124,0.303,0.274,0.303h0.258c0.152,0,0.275,0.135,0.275,0.303v2.096c-1.95,2.579-11.028,3.088-19.257,2.001v-0.329c0-1.795-1.322-3.249-2.953-3.249c-1.63,0-2.952,1.454-2.952,3.249v12.7c0,7.153,4.762,12.149,11.58,12.149h33.068c6.817,0,11.58-4.996,11.58-12.149v-12.7c0-1.795-1.323-3.249-2.953-3.249s-2.953,1.454-2.953,3.249V79.898z M117.034,98.295H83.966c-5.122,0-5.675-4.218-5.675-6.031v-6.21c2.104,0.255,4.991,0.514,8.079,0.514c5.083,0,10.678-0.711,14.13-3.284c3.452,2.573,9.046,3.284,14.129,3.284c3.087,0,5.977-0.259,8.079-0.514v6.21C122.708,94.077,122.155,98.295,117.034,98.295"/><path fill="%23d5d5d5" d="M32.045,114.571c0,6.506-4.806,11.929-11.104,12.999c-1.329,0.226-2.283,1.532-2.283,3.012c0,1.881,1.526,3.325,3.215,3.04c9.117-1.536,16.087-9.495,16.087-19.051V73.268c0-1.693-1.247-3.066-2.786-3.066h-0.345c-1.537,0-2.784,1.373-2.784,3.066V114.571z"/><path fill="%23d5d5d5" d="M11.614,111.586c0,2.851-1.902,5.274-4.532,6.127C5.867,118.107,5,119.279,5,120.672v0.025c0,2.048,1.783,3.486,3.578,2.949c5.17-1.551,8.95-6.37,8.95-12.061V79.362c0-1.693-1.247-3.065-2.786-3.065h-0.344c-1.538,0-2.785,1.372-2.785,3.065V111.586z"/><path fill="%23d5d5d5" d="M145.989,114.122v-13.074c0-1.692-1.247-3.065-2.784-3.065h-0.346c-1.539,0-2.784,1.373-2.784,3.065v13.074c0,1.691-0.854,3.15-2.08,3.81c-0.919,0.496-1.466,1.567-1.466,2.694v0.074c0,2.191,2.047,3.725,3.866,2.834C143.689,121.921,145.989,118.309,145.989,114.122"/><path fill="%23d5d5d5" d="M165.05,120.106v-19.058c0-1.693-1.246-3.066-2.784-3.066h-0.346c-1.538,0-2.784,1.373-2.784,3.066v19.058c0,5.422,2.039,10.021,5.084,12.289c1.861,1.387,4.376-0.057,4.376-2.53v-0.135c0-0.931-0.357-1.84-1.041-2.386C166.313,126.354,165.05,123.74,165.05,120.106"/><path fill="%23d5d5d5" d="M57.184,111.586V79.362c0-1.693-1.248-3.065-2.785-3.065h-0.344c-1.539,0-2.787,1.372-2.787,3.065v32.224c0,5.69,3.78,10.51,8.952,12.061c1.796,0.537,3.577-0.901,3.577-2.949v-0.025c0-1.393-0.866-2.564-2.08-2.959C59.085,116.86,57.184,114.437,57.184,111.586"/><path fill="%23d5d5d5" d="M103.321,123.719h18.918c1.537,0,2.783-1.373,2.783-3.064c0-1.692-1.246-3.064-2.783-3.064h-18.918v-4.046h12.107c1.535,0,2.783-1.37,2.783-3.063c0-1.692-1.248-3.063-2.783-3.063H85.3c-1.537,0-2.782,1.371-2.782,3.063c0,1.693,1.245,3.063,2.782,3.063h11.854v4.046H78.336c-1.538,0-2.783,1.372-2.783,3.064c0,1.691,1.245,3.064,2.783,3.064h18.818v4.044H74.911c-1.536,0-2.783,1.371-2.783,3.063s1.247,3.064,2.532,3.064h50.751c1.788,0,3.034-1.372,3.034-3.064s-1.246-3.063-2.783-3.063h-22.341V123.719z"/><path fill="%23d5d5d5" d="M168.008,92.37L168.008,92.37c0-1.692-1.246-3.064-2.784-3.064h-14.517v-7.072h14.517c1.538,0,2.784-1.372,2.784-3.064s-1.246-3.064-2.784-3.064h-14.517v-2.649c0-1.798-1.324-3.256-2.956-3.256c-1.634,0-2.958,1.458-2.958,3.256v15.849h-5.48c-1.536,0-2.783,1.372-2.783,3.064c0,1.692,1.247,3.063,2.783,3.063h10.458v19.912c0,6.114-4.778,11.21-11.044,12.23c-1.341,0.22-2.312,1.526-2.312,3.017c0,1.873,1.514,3.314,3.197,3.042c9.109-1.47,16.072-9.111,16.072-18.289V95.434h9.539C166.762,95.434,168.008,94.063,168.008,92.37"/><path fill="%23d5d5d5" d="M195,89.385V79.361c0-1.798-1.322-3.253-2.956-3.253h-18.061c-1.537,0-2.781,1.371-2.781,3.063c0,1.692,1.244,3.064,2.781,3.064h13.716c0.766,0,1.387,0.684,1.387,1.525v5.625c0,3.155-1.069,6.296-3.007,8.848c-0.876,1.15-1.846,2.476-2.855,3.944c-1.236-1.62-2.563-3.231-3.993-4.831c-0.999-1.118-1.55-2.553-1.55-4.042v-5.132c0-1.797-1.323-3.254-2.957-3.254c-1.633,0-2.957,1.458-2.957,3.254v5.132c0,3.037,1.11,5.95,3.125,8.204c1.108,1.24,2.933,3.281,4.908,6.008c-3.85,6.47-7.514,14.467-8.423,22.516c-0.222,1.962,1.13,3.711,2.927,3.711c1.526,0,2.757-1.283,2.938-2.948c0.659-6.07,3.225-12.254,6.179-17.621c2.673,4.8,4.998,10.747,5.544,17.559c0.137,1.695,1.393,3.011,2.938,3.011c1.729,0,3.108-1.63,2.955-3.523c-0.625-7.71-3.301-15.326-7.973-22.772c1.364-2.072,2.689-3.912,3.84-5.424C193.482,98.396,195,93.908,195,89.385"/><path fill="%23d5d5d5" d="M105.012,91.52c0,2.492-2.02,4.512-4.511,4.512c-2.494,0-4.514-2.02-4.514-4.512c0-2.492,2.02-4.511,4.514-4.511C102.992,87.008,105.012,89.028,105.012,91.52"/></svg>'),
  radial-gradient(circle at center center, #FFF 0%, #d5d5d5 100%);
  background-size: 48px, 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

//ng-class-button按钮样式
.md-button {
  transition: all 0 ease 0;
  //去掉md-btn默认的加粗效果
  font-weight: normal;
}

.content-divWrap .loginForm1 .md-button.ng-class-button {
  background: #333;
}

.content-divWrap .registerForm1 .md-button.ng-class-button {
  background: #333;
}

.content-divWrap .registerForm2 .md-button.ng-class-button {
  background: #333;
}

//input placeholder 默认颜色
input {
  outline: none;
}

input::-webkit-input-placeholder {
  　　color: #ccc !important; /* WebKit browsers */
}

input:-moz-placeholder {
  color: #ccc !important; /* Mozilla Firefox 4 to 18 */
}

input::-moz-placeholder {
  color: #ccc !important; /*Mozilla Firefox 19+ */
}

input:-ms-input-placeholder {
  color: #ccc !important; /* Internet Explorer 10+ */
}

//样式初始化
a, button, input {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

//图标渐变
.backgroundcliptext {
  .ks-main {
    .empty {
      .icon {
        background: linear-gradient(to bottom, #e6e6e6, #f5f5f5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

*:focus {
  outline: none;
}