<!--引入ks-common-list放在最外面的div即可-->
<div class="ks-common-list-user">
    <div class="common-list-center">
        <ul layout="row" >
            <li layout="row">
                <label for="bhnum">请输入：</label>
                <input id="bhnum" class="choose " ng-model="keyword" placeholder="姓名、手机号">
                <button class="inquire" style="" ng-click="search()">
                    搜索
                </button>
            </li>
            <div class="btnBox" ng-if="STAFF_C" layout="row">
                <md-button class="newAdd" ui-sref="main.brandApp.usAdd()">
                    <!--<md-icon class="wrapIcon" md-font-set="ks-admin-font" md-font-icon="ks-plus" title="新增"></md-icon>-->
                    新增
                </md-button>
            </div>
            <br style="clear: both">
        </ul>
    </div>
    <div class="common-list-detail" layout="column">
        <!--表头-->
        <div class="common-list-detail-thead" layout="row">
            <div class="thead-show" flex="15" layout-align="start center" style="padding-left: 30px;">
                <span>手机号码</span>
            </div>
            <div class="thead-show" flex="15" layout-align="center">
                <span>姓名</span>
            </div>
            <div class="thead-show" flex="20" layout-align="center">
                <span>角色</span>
            </div>
            <div class="thead-show" flex="15" layout-align="center">
                <span>状态</span>
            </div>
            <div class="thead-show" flex="15" layout-align="center">
                <span>创建时间</span>
            </div>
            <div class="thead-show thead-end" flex="20" layout-align="center">
                <span>操作</span>
            </div>
        </div>
        <!--表格详细内容-->
        <div class="common-list-detail-tbody" layout="column">
            <!--定义每列数据    父级用ng-repeat循环此行-->
            <div class="common-list-detail-row" layout="row" ng-repeat="staff in data.content track by $index">
                <div class="thead-show" flex="15" layout-align="center"
                     style="overflow: hidden;text-overflow:ellipsis;white-space:nowrap;padding-left: 30px;">
                    <span>{{staff.phone}}</span>
                </div>
                <div class="thead-show" flex="15" layout-align="center">
                    <span>{{staff.realName}}</span>
                </div>
                <div class="thead-show" flex="20" layout-align="center" style="min-width: 134px;">
                    <span><span
                            ng-repeat="staffGroup in staff.staffGroupList">{{staffGroup.name}}&nbsp;&nbsp;</span></span>
                </div>
                <div class="thead-show" flex="15" layout-align="center">
                    <span ng-if="!staff.disabled">正常</span>
                    <span ng-if="staff.disabled">已禁用</span>
                </div>
                <div class="thead-show" flex="15" layout-align="center">
                    <span>{{staff.dateCreated | date:"yyyy-MM-dd HH:mm:ss"}}</span>
                </div>
                <div class="thead-show" flex="20" layout-align="end center" layout="row" style="padding-right: 20px;">
                    <div  class="operateFont" layout="column" ng-if="staff.disabled==false && STAFF_U" >
                        <button ng-click="setEnabled(staff)">禁用</button>
                    </div>
                    <div  class="operateFont" layout="column" ng-if="staff.disabled==true && STAFF_U">
                        <button  ng-click="setEnabled(staff)">
                            启用
                        </button>
                    </div>

                    <!--<div flex class="operateFont" layout="column" ng-if="STAFF_R">-->
                        <!--<button class="rejet" ng-click="openDialog({staff: staff},$event)">-->
                            <!--查看-->
                        <!--</button>-->
                    <!--</div>-->

                    <div  class="operateFont" layout="column" ng-if="STAFF_U" >
                        <button
                                ui-sref="main.brandApp.usEdit({id:staff.id,realName:staff.realName,nickName:staff.nickName,disabled:staff.disabled})"
                        >
                            编辑
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="width: 99%; margin: 10px auto 0">
        <div style="width: 500px;margin: 10px;" uib-pagination total-items="data.totalElements" ng-model="curPage"
             ng-change="pageChanged()"
             class="pagination-sm col-sm-9" boundary-links="true" max-size="8" rotate="rotate"
             items-per-page="data.size" previous-text="<" next-text=">" first-text="|<" last-text=">|">
        </div>
        <div style="float: right;margin: 10px;" class="pageSubnav">
            <span>共{{data.totalElements}}条</span>
            <!--<span>页数{{data.number}} / {{data.totalPages}}</span>-->
            到第<input type="text" ng-model="curPage">页
            <md-button ng-click="pageChanged()">确定</md-button>
        </div>
    </div>
</div>

