//
@import "../../../../../../scss/_ksMain.scss";
.ks-addAddress{
  background: #f5f5f5;
  .center-line{
    flex-shrink: 0;
    height:10px;
    width:100%;
    background: #f5f5f5;
  }
  //  主体
  .main{
    .center-con{
      flex-shrink: 0;
      background: #fff;
      padding:0 15px;
      .center-tab{
        height:60px;
        line-height:60px;
        .tab-left{
          color: #333;
          font-size:16px;
          width: 98px;
          padding-left: 10px;
        }
        .tab-left-default{
          padding-left: 10px;
          color: #333;
          font-size:16px;
        }
        .tab-right-default{
          .ks-icon{
            margin:0;
            font-size: 18px;
          }
        }
        .tab-right{
          input::-webkit-input-placeholder { /* WebKit browsers */
            font-size: 16px;
            color: #999;
          }

          input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            font-size: 16px;
            color: #999;
          }

          input::-moz-placeholder { /* Mozilla Firefox 19+ */
            font-size: 16px;
            color: #999;
          }
          input{
            border:none;
            background: none;
            height:60px;
            color: #666;
            width:100%;
          }
        }
      }
      .line{
        width: 100%;
        height: 1px;
        -webkit-transform: scaleY(0.5);
        -webkit-transform-origin: 0 0;
        //overflow: hidden;
        background: #CDD0CF;
      }
    }
    .btn{
      height:44px;
      flex-shrink: 0;
      margin-top: 40px;
      padding:0 15px;
      width:100%;
      button{
        width:100%;
        height:44px;
        background: #E53467;
        color: #fff;
        font-size:18px;
        border:none;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        border-radius:5px;
      }
    }
  }

}
.weui-picker__action{
  color: #e53467;
}