@import "../../../../../scss/index.scss";

.ks-orderDetail {
  .center-box {
    padding: 0 15px;
    background: #fff;
    .center-top {
      height: 60px;
      line-height: 60px;
      font-size: 16px;
      color: #333333;
      letter-spacing: -0.39px;
      .center-right{
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow:ellipsis;
      }
    }
    .textarea-wrap {
      textarea {
        margin-top: -5px;
        border: none;
        resize: none;
      }
      textarea::-webkit-input-placeholder { /* WebKit browsers */
        font-size: 14px;
        color: #ccc;
      }

      textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        font-size: 14px;
        color: #ccc;
      }

      textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
        font-size: 14px;
        color: #ccc;
      }
    }
    .itemWrap {
      .item {
        .item-box {
          margin: 10px 0;
          .img-wrap {
            width: 60px;
            height:60px;
            position: relative;
            &:before {
              content: "";
              //display: block;// 如果用火狐浏览器,会出现bug,无法撑起高度  display: inline-table;可以
              display: inline-table; //作为内联表格来显示
              padding-top: 100%;
            }
            img {
              position: absolute;
              top: 0;
              padding: 0;
              width: 100%;
              height: 100%;
            }
          }
          .ks-icon {
            font-size: 14px;
            min-width: 14px;
            min-height: 14px;
            line-height: 14px;
            color: #C7CCCB;
          }
          .item-detail {
            margin-left: 15px;
            .item-title {
              font-size: 14px;
              color: #333333;
              letter-spacing: -0.34px;
              line-height: 14px;
            }
            .item-spec {
              font-size: 14px;
              color: #ED5F5B;
              letter-spacing: -0.34px;
              line-height: 14px;
              margin-top: 10px;
            }
          }
        }
      }
    }
    .center-bottom-logistics{
      margin-top:18px;
      width:100%;
      height:20px;
      .logistics-all{
        height:20px;
        .all-left{
          line-height:20px;
          font-size: 16px;
          color: #999;
          white-space: nowrap;
          text-overflow:ellipsis;
          overflow: hidden;
        }
        .all-right{
          margin-left:20px;
          line-height:20px;
          font-size: 16px;
          color: #333;
          white-space: nowrap;
          text-overflow:ellipsis;
          overflow: hidden;
        }
      }
    }
    .center-bottom {
      padding-top: 20px;
      padding-bottom: 15px;
      .center-left {
        font-size: 16px;
        color: #999999;
        letter-spacing: -0.39px;
      }
      .center-detail {
        font-size: 16px;
        color: #333333;
        letter-spacing: -0.39px;
        margin-left: 20px;
        line-height: 28px;
      }
      .center-right {
        font-size: 16px;
        color: #333333;
        letter-spacing: -0.39px;
        line-height: 16px;
      }
      .center-address {
        margin-left: 20px;
        .commit {
          font-size: 16px;
          color: #333333;
          letter-spacing: -0.39px;
          line-height: 16px;
          margin-bottom:7px;
        }
      }

      .ks-icon {
        color: #C7CCCB;
        font-size: 15px;
        min-width: 15px;
        min-height: 15px;
        line-height: 15px;
        margin: 0;
      }
    }
    .center-item {
      padding-top: 20px;
      .item-title {
        font-size: 16px;
        color: #333333;
        letter-spacing: -0.39px;
        line-height: 16px;
      }
      .item-dis {
        font-size: 14px;
        color: #999999;
        letter-spacing: -0.34px;
        line-height: 16px;
        margin: 20px 0;
      }
    }
  }
  .center-box-yu{
    height:150px;
    width:100%;
    overflow: hidden;
    background: #fff;
    //border-top:2px solid #f5f5f5;
    .yu-all{
      padding:0 15px;
      margin-top:18px;
      height:20px;
      .all-left{
        line-height:20px;
        font-size:14px;
        height:20px;
        color: #999;
      }
      .all-right{
        line-height:20px;
        height:20px;
        font-size:14px;
        color: #999;
      }
    }
    .huo-all{
      padding:0 15px;
      margin-top:11px;
      height:20px;
      .all-left{
        line-height:20px;
        font-size:14px;
        height:20px;
        color: #999;
      }
      .all-right{
        line-height:20px;
        height:20px;
        font-size:14px;
        color: #999;
      }
    }
  }
  .parent-warp {
    margin: 0 20px;
    flex-shrink: 0;
    min-height: 186px;
    .top-wrap {
      flex-shrink: 0;
      height: 80px;
      line-height: 80px;
      .ks-icon {
        font-size: 20px;
        color: #101010;
      }
      .top-txt {
        margin-left: 7px;
        font-size: 18px;
        color: #101010;
      }
    }
    .circle-msg-wrap {
      flex-shrink: 0;
      height: 105px;
      min-height: 105px;
      position: relative;
      .circle-wrap {
        flex-shrink: 0;
        padding: 0 10px 0 18px;
        width: 100%;
        height: 14px;
        min-height: 14px;
        .circle {
          flex-shrink: 0;
          width: 10px;
          height: 10px;
          min-height: 10px;
          border-radius: 50%;
          background: #d5d5d5;
        }
        .line {
          height: 2px;
          background: #d5d5d5;
        }
        .active {
          width: 14px;
          height: 14px;
          background: #ba9f6e;
          border: 2px solid #dccfb6;
        }
        .lineActive {
          background: #ba9f6e;
        }
      }
      .txt-wrap {
        width: 100%;
        margin-top: 20px;
        .msg-txt {
          font-size: 12px;
          color: #d5d5d5;
        }
        .active {
          color: #101010;
        }
      }
    }
  }

  .gray-bg {
    flex-shrink: 0;
    height: 10px;
    min-height: 10px;
    background: #f5f5f5;
    width: 100%;
  }

  .center-wrap {
    margin: 0 10px;
    .transport {
      margin: 0 10px;
      .title {
        height: 55px;
        min-height: 55px;
        flex-shrink: 0;
        .block {
          width: 8px;
          height: 18px;
          min-height: 18px;
          background: #ba9f6e;
        }
        .discr-txt {
          font-size: 18px;
          margin-left: 10px;
          color: #101010;
        }
      }
      .order-detail {
        padding: 15px 0 15px 18px;
        .txt-wrap {
          color: #999999;
          font-size: 16px;

          .txt-left {
            white-space: nowrap;
            color: #999999;
          }
        }
        .ks-icon {
          font-size: 14px;
          color: #ba9f6e;
          text-align: right;
          margin: 0;
        }
      }
      .address {
        padding: 15px 0 15px 18px;
        color: #999999;
        font-size: 16px;
      }
    }

    .item-list {
      margin: 0 10px;
      .title {
        height: 55px;
        flex-shrink: 0;
        .block {
          width: 8px;
          height: 18px;
          background: #ba9f6e;
        }
        .discr-txt {
          font-size: 18px;
          margin-left: 10px;
          color: #101010;
        }
      }

      .item-detail {
        .cen-msg {
          margin: 15px 0;
          .cen-img-wrap {
            width: 92px;
            position: relative;
            overflow: hidden;
            &:before {
              content: "";
              display: block;
              padding-top: 100%;
            }
            img {
              position: absolute;
              top: 0;
              padding: 0;
              width: 100%;
            }
          }
          .cen-right {
            margin-left: 15px;
            .cen-title {
              font-size: 16px;
              color: #333333;
            }
            .cen-sku {
              font-size: 14px;
              color: #999999;
            }
            .cen-bottom {
              width: 100%;
              color: #333333;
              font-size: 16px;
            }
          }
        }
        .bottom-btn-wrap {
          .item-btn {
            width: 90px;
            height: 30px;
            border: 1px solid #101010;
            line-height: 30px;
            text-align: center;
            margin: 10px 0 10px 20px;
          }
        }
      }
    }

    .total-price {
      background: $agency-bg-default;
    }
  }
  .total-price {
    height:40px;
    background: $agency-bg-default;
  }
  .bg-green{
    border-top-color: #53d39a;
  }
  .bg-red{
    border-top-color:  #ed5f5b;
  }
  .bottom-btn {
    height: 50px;
    min-height: 50px;
    flex-shrink: 0;
    background: #fff;
    line-height: 50px;
    text-align: center;
    .btn-txt {
      font-size: 18px;
      //font-weight: bold;
      color: #53D39A;
    }
    .line-bottom{
      width:1px;
      background: #D5D5D5;
      height:28px;
      margin-top:11px;
    }
  }
}

//弹窗验证码
.messageCode {
  width: 286px;
  //height: 104px;
  border-radius: 12px;
  background: #fff;
  overflow: hidden;
  .close-tck{
    position: absolute;
    color: #D5D5D5;
    font-size:12px;
    right:0;
    width:20px;
    height: 20px;
    text-align: center;
    top:-28px;
  }
  .dis {
    height: 44px;
    font-size: 18px;
    color: #101010;
    line-height: 44px;
    text-align: center;
  }
  .address-dis {
    color: #999;
    font-size: 14px;
    //padding-left: 15px;
    padding:18px 20px 20px;
    .dis-name{
      margin-bottom:18px;
      line-height: 20px;
      font-size: 16px;
    }
    .dis-code{
      position: relative;
      height:40px;
      width:100%;
      input::-webkit-input-placeholder { /* WebKit browsers */
        color: #999;
        border: none;
        font-size:14px;
        font-weight: 300;
      }
      input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #999;
        border: none;
        font-size: 14px;
        font-weight: 300;
      }
      input::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #999;
        border: none;
        font-size: 14px;
        font-weight: 300;
      }
      input:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: #999;
        border: none;
        font-size: 14px;
        font-weight: 300;
      }
      input{
        -webkit-appearance: none;   //去苹果内阴影
        height:40px;
        padding-left: 10px;
        background: #f5f5f5;
        border: 1px solid #d5d5d5;
        border-radius: 6px;
        color: #333;
      }
      button{
        color: #53d39a;
        width:98px;
        height: 40px;
        background: #fff;
        border-top-right-radius:6px ;
        border-bottom-right-radius: 6px;
        border:1px solid #53d39a;
        position: absolute;
        right:0;
      }
    }
  }
  .line {
    height: 44px;
    -webkit-transform: scaleX(0.5);
    -webkit-transform-origin: 0 0;
    //overflow: hidden;
    border-left: 1px solid #d5d5d5;
  }
}