/target-eclipse/classes
.gradle
/web-app/WEB-INF/classes
/target/
.tmp/
/classes/
out
bin/
/test/unit
/test/integration
/overlays/
/db/
.classpath
.settings/
.asscache
.project
.idea/
.sonar/
.DS_Store
*.iml
*.ipr
*.jar
*.iws
*.swp
*.log
*.log\.*
plugin.xml
*.zip
.sonar

src/user-guide/target
node_modules
bower_components
.sass-cache
.slcache
exportToHTML

build

/qh-agency-domain/src/querydsl/
application.yml
application-dev.yml
*.tar.gz
*.tgz

qh-agency-wap-front/src/*/dist/**
!qh-agency-wap-front/src/*/dist/.gitkeep

qh-agency-admin-front/src/*/dist/**
!qh-agency-admin-front/src/*/dist/.gitkeep
