<div flex="100" layout="column" class="ks-refundMyOrderDetail">
    <div class="ks-white-header" layout="row">
        <div class="back-button" flex="20" ng-click="vm.fallbackPage()">
            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ag-arrow_left"></md-icon>
        </div>
        <h1 flex>销售退货详情</h1>
        <div class="right-button" flex="20">

        </div>
    </div>
    <md-divider></md-divider>
    <md-content flex style="background: #f5f5f5;">
        <div class="center-box" layout="column">
            <div class="center-top" layout="row">
                单据信息
            </div>
            <md-divider></md-divider>
            <div class="center-bottom" layout="column" layout-align="space-between start">
                <div flex layout="row" layout-align="center start">
                    <div class="center-left">
                        单据编号
                    </div>
                    <div flex class="center-detail">
                        {{info.refundSeq}}
                    </div>
                </div>
                <div flex layout="row" layout-align="center start">
                    <div class="center-left">
                        单据日期
                    </div>
                    <div flex class="center-detail">
                        {{info.dateCreated|date:'yyyy-MM-dd HH:mm:ss'}}
                    </div>
                </div>
                <div flex layout="row" layout-align="center start">
                    <div class="center-left">
                        单据状态
                    </div>
                    <div flex class="center-detail">
                        <span>{{info.statusDesp}}</span>

                        <!--<span ng-if="info.status === 'UNCHECKED'">待卖家确认</span>-->
                        <!--<span ng-if="info.status === 'BUYER_UNCHECKED'">待卖家确认</span>-->
                        <!--<span ng-if="info.status === 'REJECTED'">卖家拒绝售后</span>-->
                        <!--<span ng-if="info.status === 'WAIT_SENDING'">待买家发货</span>-->
                        <!--<span ng-if="info.status === 'WAIT_RECEIVED'">待卖家收货</span>-->
                        <!--<span ng-if="info.status === 'UNPAYED'">待退款</span>-->
                        <!--<span ng-if="info.status === 'CLOSED'">已关闭</span>-->
                        <!--<span ng-if="info.status === 'FINISHED'">已完成</span>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="info-line"></div>
        <div class="center-box" layout="column">
            <div class="center-top" layout="row">
                渠道信息
            </div>
            <md-divider></md-divider>
            <!--显示物流-->
            <div class="center-bottom-logistics" ng-if="info.logisticsInfo">
                <div flex layout="row"  class="logistics-all">
                    <div class="all-left">
                        物流信息
                    </div>
                    <div class="all-right" layout-align="center start">
                        {{info.logisticsInfo.company}}  {{info.logisticsInfo.expressNo}}
                    </div>
                </div>
            </div>
            <div class="center-bottom" layout="row" layout-align="space-between start">
                <div class="center-left">
                    收货地址
                </div>
                <div flex class="center-address" layout="column" layout-align="center start">
                    <div>
                        <div class="commit">
                            <span>{{info.address.receiver}}</span>
                            <span style="margin-left: 10px;">{{info.address.phone}}</span>
                        </div>
                        <div class="address-detail" layout="column">
                            <span>{{info.address.province}}{{info.address.city}}{{info.address.county}}</span>
                            <span>{{info.address.street}}</span>
                        </div>
                    </div>
                </div>
                <!--<md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ag-arrow-right-s"></md-icon>-->
            </div>
        </div>
        <div class="info-line"></div>
        <div class="center-box" layout="column">
            <div class="center-top" layout="row">
                商品信息
            </div>
            <md-divider></md-divider>
            <div class="itemWrap" layout="column" layout-align="center stretch">
                <div class="item" layout="column" ng-repeat="item in info.orderItemInfos track by $index">
                    <div layout="row" class="item-box">
                        <div class="img-wrap">
                            <img img-holder ng-src="{{item.skuImg}}"/>
                        </div>
                        <div class="item-detail" layout="column" flex layout-align="space-between start">
                            <div style="width: 100%" class="item-title" layout="row"
                                 layout-align="space-between center">
                                <div class="title-dis">{{item.itemTitle}}</div>
                                <div class="price-dis">￥{{item.skuPrice/100|num:2}}</div>
                            </div>
                            <div style="width: 100%" class="item-des" layout="row" layout-align="space-between center">
                                <div layout="row" layout-align="space-between center">
                                    <div class="item-dis" ng-repeat="spec in item.specInfos"
                                         style="margin-right:15px;color: #999">
                                        {{spec.propValue}}
                                    </div>
                                </div>
                                <div class="price" style="color:#999">x    {{item.num}}</div>
                            </div>
                        </div>
                    </div>
                    <md-divider class="dashed" ng-if="!$last"></md-divider>
                </div>
            </div>
        </div>
        <div class="info-line" ng-if="info.memo"></div>
        <div class="center-box" layout="column" ng-if="info.memo">
            <div class="center-top" layout="row" layout-align="space-between center">
                <div class="center-left">
                    备注描述
                </div>
                <div class="center-right">{{info.memo}}</div>
            </div>
            <!--<div class="textarea-wrap" layout="row">-->
                <!--<div ng-model="info.memo"></div>-->
                <!--&lt;!&ndash;<textarea flex placeholder="输入描述..."></textarea>&ndash;&gt;-->
            <!--</div>-->
        </div>

        <div  class="total-price" layout="column">
            <div layout-align="center center" layout="row" ng-if="info.wxAmount">微信应退: ￥{{info.wxAmount/100|num:2}}</div>
            <div layout-align="center center" layout="row" ng-if="info.aliAmount">支付宝退: ￥{{info.aliAmount/100|num:2}}</div>
            <div layout-align="center center" layout="row" ng-if="info.noBalanceAmount">货款应退: ￥{{info.noBalanceAmount/100|num:2}}</div>
            <div layout-align="center center" layout="row" ng-if="info.balanceAmount">账户应退: ￥{{info.balanceAmount/100|num:2}}</div>
            <div layout-align="center center" layout="row" ng-if="info.refundAmount">总计应退: ￥{{info.refundAmount/100|num:2}}</div>
        </div>

    </md-content>
    <!--底部按钮-->
    <!--待退款-->
    <md-divider ng-if="info.status == 'UNPAYED'" class="bg-red"></md-divider>
    <md-divider ng-if="info.status != 'UNPAYED'" class="bg-green"></md-divider>
    <div class="bottom-btn" layout="row" layout="center center" ng-if="info.status == 'UNPAYED'">
        <div class="btn-txt" flex ng-click="confirmRefund(info.id)" style="color: #ed5f5b;">确认退款</div>
    </div>
    <!--待收获-->
    <div class="bottom-btn" layout="row" layout="center center"
         ng-if="info.status == 'WAIT_RECEIVED'">
        <div class="btn-txt" flex ng-click="rejectOrder(info.id)" style="color: #ed5f5b;">拒绝退款</div>
        <div class="line-bottom"></div>
        <div class="btn-txt" flex ng-click="receive(info.id)">确认收货</div>
    </div>
    <!--待卖家确认-->
    <div class="bottom-btn"
         ng-if="info.status === 'UNCHECKED'"
         layout="row" layout-align="center center">
        <div class="btn-txt" flex ng-click="rejectOrder(info.id)" style="color: #ed5f5b;">
            拒绝
        </div>
        <div class="line-bottom"></div>
        <div class="btn-txt" flex ng-click="agreeOrder(info.id)">
            同意
        </div>
    </div>
</div>
