<div flex="100" layout="column" class="ks-chooseTime">
    <div class="ks-white-header" layout="row">
        <div class="back-button" flex="20" ng-click="fallbackPage()">
            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ag-arrow_left"></md-icon>
        </div>
        <h1 flex ng-if="type == 'signUp'">报名时间</h1>
        <h1 flex ng-if="type == 'voting'">投票时间</h1>
        <div class="right-button" flex="20" style="color: #E53467;">
        </div>
    </div>
    <md-divider></md-divider>
    <md-content flex ng-show="from != 'view'" style="background: #f5f5f5">
        <div class="con">
            <div class="con-time" layout="row" layout-align="start center">
                <div class="left">开始时间</div>
                <div class="right" flex layout="row" layout-align="end center" ng-click="chooseStartTime()">
                    <span ng-if="!startTime">请选择</span>
                    <span ng-if="startTime">{{startTime | date:'yyyy'}}.{{startTime | date:'MM' }}.{{startTime | date:'dd'}}&nbsp;{{startTime | date:'HH'}}:00</span>
                    <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ag-arrow-right-s"></md-icon>
                </div>
            </div>
            <md-divider></md-divider>
            <div class="con-time" layout="row" layout-align="start center">
                <div class="left">截止时间</div>
                <div class="right" flex layout="row" layout-align="end center" ng-click="chooseEndTime()">
                    <span ng-if="!endTime">请选择</span>
                    <span ng-if="endTime">{{endTime | date:'yyyy'}}.{{endTime | date:'MM' }}.{{endTime | date:'dd'}}&nbsp;{{endTime | date:'HH'}}:00</span>
                    <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ag-arrow-right-s"></md-icon>
                </div>
            </div>
        </div>

        <div class="footBtn" layout="row" layout-align="center center" ng-click="finish()">
            <span>确认</span>
        </div>

    </md-content>


    <!--<md-content flex ng-show="from == 'view'">-->
        <!--<md-divider></md-divider>-->
        <!--<div id="detail" class="ks-item-desp" ng-include="tplUrl" ng-show="from = 'view'"></div>-->
    <!--</md-content>-->
    <!--<md-divider style="border-color:#E53467"></md-divider>-->
    <!--<div ng-click="finish()" ng-if="from != 'view'" class="choose" layout="row" layout-align="center center">-->
        <!--<span>确定</span>-->
    <!--</div>-->
    <!--<div ng-click="fallbackPage()" ng-if="from == 'view'" class="choose" layout="row" layout-align="center center">-->
        <!--<span>返回</span>-->
    <!--</div>-->
</div>