<div class="ks-changeShop"  flex="100" layout="column">
    <div class="ks-white-header" layout="row">
        <div class="back-button" flex="20" ng-click="fallbackPage()">
            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ag-arrow_left"></md-icon>
        </div>
        <h1 flex>选择门店</h1>
        <div class="right-button" flex="20">
        </div>
    </div>
    <div class="topLine"></div>

    <md-content flex style="overflow-x:hidden;" layout="column" layout-align="center center">
        <div style="overflow-y: scroll; width: 100%;">
            <div class="store-box" ng-repeat="shop in shopList"
                 ui-sref="main.brandApp.store.shop.shopManage({storeId:shop.shopId})"
            >{{shop.shopName}}</div>
        </div>
    </md-content>
</div>