<div layout="column">

    <input type="text"> test3

    <md-button ng-click="goTest1()">ngTest1=11==</md-button>
    <md-button ng-click="goTest2()">ngTest2</md-button>

    AA
    <md-button ng-click="go('main.test1','aa',false)">$state.go(test1,reload=false)</md-button>
    <md-button ng-click="go('main.test2','bb',false)">$state.go(test1,reload=false)</md-button>
    AAA

    <md-button ui-sref="main.test1">ui-sref=test1</md-button>
    <md-button ui-sref="main.test2">uiTest2</md-button>

</div>