/target-eclipse/classes
.gradle
/web-app/WEB-INF/classes
/target/
.tmp/
/classes/
out
bin/
/test/unit
/test/integration
/overlays/
/db/
.classpath
.settings/
.asscache
.project
.idea/
.sonar/
.DS_Store
*.iml
*.ipr
*.jar
*.iws
*.swp
*.log
*.log\.*
*.hprof
plugin.xml
*.zip
.sonar
*.ckp
*.tlog
*.cfe
*.cfs
*.si

src/user-guide/target
node_modules
bower_components
.sass-cache
.slcache
exportToHTML

build

/qh-shop-domain/src/querydsl/
application.yml
application-dev.yml
*.tar.gz
*.tgz

qh-shop-wap-front/src/*/dist/**
!qh-shop-wap-front/src/*/dist/.gitkeep

qh-shop-admin-front/src/*/dist/**
!qh-shop-admin-front/src/*/dist/.gitkeep

qh-shop-server/shop-server.log
/qh-shop-server/src/main/resources/application-dev.yml
!/gradle/wrapper/gradle-wrapper.jar
