.gradle
/target-eclipse/classes
/web-app/WEB-INF/classes
/target/
/out/
/test/unit
/test/integration
/overlays/
/db/
.classpath
.settings/
.asscache
.project
.idea/
.sonar/
.DS_Store
*.iml
*.ipr
*.iws
*.swp
*.log
plugin.xml
*.zip
.sonar
classes

src/user-guide/target
node_modules
bower_components
.sass-cache
.slcache
build
qh-platform-domain/src/querydsl
.tmp
application-dev.yml
aaa
out
Teacher*
teacher
