@import "../../../../../scss/index.scss";

.ks-joinNum {
  background: $activity-bg-white;
  .search{
    margin: 6px 15px;
    height: 32px;
    min-height: 32px;
    .search-input{
      background: #f5f5f5;
      border-radius: 8px;
      position: relative;
      height: 100%;
      .left{
        margin-left: 15px;
        margin-right: 10px;
        md-icon{
          font-size: 12px;
          height: 32px;
          line-height: 32px;
          width: 12px;
          min-width: 12px;
          color: #999999;
        }
      }
      .right{
        margin-left: 10px;
        margin-right: 10px;
        md-icon{
          font-size: 12px;
          height: 32px;
          line-height: 32px;
          width: 12px;
          min-width: 12px;
          color: #999999;
        }
      }
      .con{
        input{
          width: 100%;
          border: none;
          background: #F5F5F5;
          border-radius: 8px;
          height: 32px;
          line-height: 32px;
        }
        input::-webkit-input-placeholder { /* WebKit browsers */
          font-size: 14px;
          letter-spacing: -0.34px;
          //text-align: center;
        }
        input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          font-size: 14px;
          letter-spacing: -0.34px;
          //text-align: center;
        }
        input::-moz-placeholder { /* Mozilla Firefox 19+ */
          font-size: 14px;
          letter-spacing: -0.34px;
          //text-align: center;
        }
      }
    }
    .search-btn{
      color: #333333;
      margin-left: 10px;
      font-size: 14px;
      height: 32px;
      line-height: 32px;
    }
  }
  .bg-select-con{
    position: relative;
    .bg-select{
      z-index: 101;
      background: url("./down.png") no-repeat;
      background-size:79px 118px;
      position:absolute;
      top: 34px;
      right: 15px;
      width: 79px;
      height: 118px;
      .select-tab{
        font-size: 14px;
        text-align: center;
        height: 32px;
        line-height: 32px;
      }
    }
  }
  md-content{
    .con-title{
      //margin: 15px 15px 5px 15px;
      margin: 15px;
      font-size: 14px;
      color: #e53467;
      height: 14px;
      line-height: 14px;
    }
    .raffleList{
      margin: 10px 15px;
      background: #ffffff;
      height: 75px;
      position: relative;
      .List-img{
        margin: 0 10px;
        img{
          width: 47px;
          height: 47px;
          border-radius: 47px;
        }
      }
      .List-info{
        .name{
          font-size: 16px;
          height: 16px;
          line-height: 16px;
          margin-bottom: 10px;
          color: #333333;
          overflow: hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
        }
        .phone{
          font-size: 14px;
          height: 14px;
          line-height: 14px;
          color: #666666;
        }
      }
      .List-time{
        margin-left: 10px;
        .price{
          font-size: 16px;
          color: #E53467;
          text-align: right;
        }
        .time{
          color: #666666;
          height: 12px;
          font-size: 12px;
          line-height: 12px;
          text-align: right;
        }
      }
      .icon-div{
        md-icon{
          min-width: 15px;
          font-size: 20px;
        }
      }
    }
  }
  .mask {
    width: 100%;
    height: 100%;
    //background: -webkit-linear-gradient(#000000, #BBBBBB); /* Safari 5.1 - 6.0 */
    //background: -o-linear-gradient(#000000, #BBBBBB); /* Opera 11.1 - 12.0 */
    //background: -moz-linear-gradient(#000000, #BBBBBB); /* Firefox 3.6 - 15 */
    //background: linear-gradient(#000000, #BBBBBB); /* 标准的语法（必须放在最后） */
    //opacity: 0.8;
    background: transparent;
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0;
  }



}





.frends-list-dialog{
  width: 85%;
  height: 70%;
  min-height: 60%;
  max-height: 70%;
  min-width: 85%;
  max-width: 85%;
  border-radius: 8px;
  background: #fff;
  overflow: hidden;
  .close-tck{
    position: absolute;
    color: #333333;
    font-size:12px;
    right:5px;
    width:20px;
    height: 20px;
    text-align: center;
    top:5px;
  }
  .dis {
    //background: url("dialog-top.png") no-repeat;
    //background-size: 100%;
    height: 44px;
    font-size: 18px;
    color: #333333;
    line-height: 53px;
    text-align: center;
  }
  .address-dis {
    color: #999;
    font-size: 14px;
    //padding-left: 15px;
    padding: 18px 15px 0;
    background: #ffffff;
    .dis-list{
      height: 47px;
      font-size: 14px;
      margin-bottom: 10px;
      color: #333333;
      .list-left{
        img{
          display: block;
          width: 47px;
          height: 47px;
          border-radius: 47px;
        }
        //span{
        //  margin-left: 10px;
        //  margin-right: 10px;
        //  overflow: hidden;
        //  text-overflow:ellipsis;
        //  white-space: nowrap;
        //}
      }
      .listinfo{
        margin: 0 15px;
        .name{
          font-size: 14px;
          height: 14px;
          line-height: 14px;
          margin-bottom: 8px;
          color: #333333;
          overflow: hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
        }
        .phone{
          font-size: 14px;
          height: 14px;
          line-height: 14px;
          color: #666666;
        }
      }
      .list-right{
        .num{
          font-size: 14px;
          color: #333333;
          height: 14px;
          line-height: 14px;
        }

      }
    }
    .more{
      margin-bottom: 20px;
      outline: none;
    }
  }
  .noList{
    background: #FFFFFF;
    .noList-con{
      .noList-con-icon{
        margin-top: 80px;
        img{
          display: block;
        }
      }
      .noList-con-font{
        color: #999999;
        margin-top: 15px;
        font-size: 14px;
        line-height: 14px;
        height: 14px;
      }
    }
  }
}