<!--<div class="bindWx" flex layout="row" layout-align="center center">-->
    <!--<div style="width: 100%">-->
        <!--<div class="pwd-content" layout="column">-->
            <!--<div class="content-top">授权登录</div>-->
            <!--<div class="content-main" flex>-->
                <!--<div class="form" layout="column">-->
                    <!--<div flex>-->
                        <!--<input type="tel" ng-model="user.phone" class="form-control-btn" placeholder="手机号">-->
                    <!--</div>-->

                    <!--<div class="line"></div>-->
                    <!--<div flex layout="row" layout-align="start center" class="phoneCode">-->
                        <!--<div flex class="left">-->
                            <!--<input type="tel" placeholder="验证码" ng-model="user.pwd" >-->
                        <!--</div>-->
                        <!--<div style="width: 1px;background: #d5d5d5;height: 20px"></div>-->
                        <!--<div flex class="getPwd" ng-click="getVCcode()">{{gitCodeTime}}</div>-->


                        <!--&lt;!&ndash;<input type="password" ng-model="password" class="form-control-btn" placeholder="密码">&ndash;&gt;-->
                    <!--</div>-->

                <!--</div>-->

                <!--<div class="login-btn" ng-click="login()">-->
                    <!--绑定微信并登录-->
                <!--</div>-->
                <!--&lt;!&ndash;<div class="sign-in">&ndash;&gt;-->
                    <!--&lt;!&ndash;没有账号？去注册&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

<!--</div>-->

