<div class="ks-editAddress"  flex="100" layout="column">
    <div class="ks-white-header" layout="row">
        <div class="back-button" flex="20" ng-click="vm.fallbackPage()">
            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ag-arrow_left"></md-icon>
        </div>
        <h1 flex>编辑地址</h1>
        <div class="right-button" flex="20" ng-click="vm.save()">
            保存
        </div>
    </div>
    <div class="center-line"></div>
    <md-content flex style="overflow-x:hidden;background: #f5f5f5;">
        <div class="main" layout="column">
            <div layout="column" class="center-con">
                <div class="center-tab" layout="row" layout-align="space-between center">
                    <div class="tab-left">收件人</div>
                    <div class="tab-right" layout="row" flex>
                        <input type="text" placeholder="请输入收件人姓名" ng-model="vm.item.receiver">
                    </div>
                </div>
                <div class="line"></div>
                <div class="center-tab" layout="row" layout-align="space-between center">
                    <div class="tab-left">联系方式</div>
                    <div class="tab-right" layout="row" flex>
                        <input type="text" placeholder="请输入收件人联系方式" ng-model="vm.item.phone">
                    </div>
                </div>
                <div class="line"></div>
                <div class="center-tab" layout="row" layout-align="space-between center">
                    <div class="tab-left">所在地区</div>
                    <div class="tab-right" layout="row" flex ng-click="vm.openAdcDialog()">
                        <div ng-if="!vm.item.adcNo" flex>
                            <input type="text" placeholder="请选择省/市/区" readonly >
                        </div>
                        <div ng-if="vm.item.adcNo" flex style="color: #666;">
                            <span ng-show="vm.item.province">{{vm.item.province}} </span>
                            <span ng-show="vm.item.city">{{vm.item.city}}</span>
                            <span ng-show="vm.item.area"> {{vm.item.area}}</span>
                        </div>
                        <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ag-arrow-right-s"></md-icon>
                    </div>
                </div>
                <div class="line"></div>
                <div class="center-tab" layout="row" layout-align="space-between center">
                    <div class="tab-left">详细地址</div>
                    <div class="tab-right" layout="row" flex>
                        <input type="text" placeholder="请输入详细地址" ng-model="vm.item.street">
                    </div>
                </div>
                <div class="line"></div>
                <div class="center-tab" layout="row" layout-align="space-between center">
                    <div class="tab-left-default">设为默认地址</div>
                    <div class="tab-right-default" layout="row">
                        <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ag-circle" ng-if="!vm.item.defaultAddr" ng-click="vm.changeCheck()"></md-icon>
                        <md-icon class="ks-icon" style="color: #E53467;font-size: 18px;" md-font-set="ks-icon" md-font-icon="ag-complete" ng-if="vm.item.defaultAddr" ng-click="vm.changeCheck()"></md-icon>
                    </div>
                </div>
            </div>
            <div class="btn-delte" layout="row" ng-click="vm.delete(vm.item);">
                删除地址
            </div>
        </div>
    </md-content>
</div>