<md-dialog aria-label="退款确认" class="refundTk">
    <!--发货填写物流公司以及单号    弹出框-->
    <div layout="column" class="tck" style="position: absolute;">
        <h2 style="text-align: left;padding-left: 20px;">退款确认</h2>
        <div layout="row" class="tck-con" style="margin-top: 12px;">
            <label>退款金额：</label>
            <span>￥{{vm.price/100 |num:2}}</span>
        </div>
        <div layout="row" class="tck-con">
            <label>退至账户：</label>
            <span>{{vm.realName}}   {{vm.phone}}</span>
        </div>
        <div layout="row" class="tck-con">
            <button style="background: #ba9f6e;color: #fff;" ng-click="vm.agree()">确认退款</button>
            <button ng-click="vm.cancel()"  style="margin-left: 24px;">返回</button>
        </div>
    </div>
</md-dialog>