<md-dialog class="deleteDialog" ng-cloak>

    <div class="ts">
       {{vm.ts}}
    </div>
    <div class="footBottom" layout="column">
        <div class="hight-line"></div>
        <div flex layout="row" layout-align="center center">
            <div flex class="left" ng-click="vm.cancel()">取消</div>
            <div class="line"></div>
            <div flex class="right" ng-click="vm.sure()">确定</div>
        </div>
    </div>

    <!--<md-card class="modal-dialog myDialog">-->
        <!--<div class="success">-->
           <!---->
        <!--</div>-->
    <!--</md-card>-->



</md-dialog>

