@font-face {
  font-family: 'activity-iconfont';
  src:  url('fonts/activity-iconfont_201728_01.eot?7gb4hb');
  src:  url('fonts/activity-iconfont_201728_01.eot?7gb4hb#iefix') format('embedded-opentype'),
    url('fonts/activity-iconfont_201728_01.ttf?7gb4hb') format('truetype'),
    url('fonts/activity-iconfont_201728_01.woff?7gb4hb') format('woff'),
    url('fonts/activity-iconfont_201728_01.svg?7gb4hb#activity-iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ks-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'activity-iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 1em;
  height: 1em;
  font-size: 24px;
}

.ag-complete:before {
  content: "\e932";
}
.ag-authorize-o:before {
  content: "\e92b";
}
.ag-minus:before {
  content: "\e92c";
}
.ag-plus:before {
  content: "\e92d";
}
.ag-triangle-down:before {
  content: "\e92e";
}
.ag-triangle-up:before {
  content: "\e92f";
}
.ag-wallet-o:before {
  content: "\e930";
}
.ag-closed-o:before {
  content: "\e931";
}
.ag-work-o:before {
  content: "\e929";
}
.ag-order-arrow-o:before {
  content: "\e928";
}
.ag-bag-o:before {
  content: "\e927";
}
.ag-menu-list:before {
  content: "\e925";
}
.ag-truck-o:before {
  content: "\e926";
}
.ag-more-word:before {
  content: "\e924";
}
.ag-edit-o:before {
  content: "\e91f";
}
.ag-check-circle:before {
  content: "\e922";
}
.ag-circle:before {
  content: "\e923";
}
.ag-activity:before {
  content: "\e91e";
}
.ag-edit-pen:before {
  content: "\e91d";
}
.ag-money-board:before {
  content: "\e90a";
}
.ag-charge:before {
  content: "\e91b";
}
.ag-arrow_left:before {
  content: "\e91c";
}
.ag-arrow-right-s:before {
  content: "\e91a";
}
.ag-clock:before {
  content: "\e905";
}
.ag-printer:before {
  content: "\e910";
}
.ag-resize:before {
  content: "\e913";
}
.ag-search-left:before {
  content: "\e915";
}
.ag-sign:before {
  content: "\e9ea";
}
.ag-shopping_cart_minus:before {
  content: "\e917";
}
.ag-cart-line:before {
  content: "\e903";
}
.ag-arrow-r:before {
  content: "\e901";
}
.ag-arrow-two:before {
  content: "\e902";
}
.ag-up-arrow:before {
  content: "\e9ee";
}
.ag-chart_fill:before {
  content: "\e904";
}
.ag-alignment-bottom:before {
  content: "\e900";
}
.ag-object-alignment:before {
  content: "\e90d";
}
.ag-showcase:before {
  content: "\e918";
}
.ag-stats-o:before {
  content: "\e919";
}
.ag-plus-circle:before {
  content: "\e90e";
}
.ag-plus-o:before {
  content: "\e90f";
}
.ag-minus-circle:before {
  content: "\e90b";
}
.ag-closed:before {
  content: "\e9f8";
}
.ag-right:before {
  content: "\e9f9";
}
.ag-grid-system:before {
  content: "\e908";
}
.ag-settings:before {
  content: "\e916";
}
.ag-massage:before {
  content: "\e9e5";
}
.ag-notebook:before {
  content: "\e90c";
}
.ag-script:before {
  content: "\e914";
}
.ag-fileboard:before {
  content: "\e906";
}
.ag-menbers:before {
  content: "\e9cd";
}
.ag-members-o:before {
  content: "\e9fb";
}
.ag-profile-round:before {
  content: "\e911";
}
.ag-menber-add:before {
  content: "\e9cc";
}
.ag-profile:before {
  content: "\e912";
}
.ag-home:before {
  content: "\e909";
}
.ag-wifi-40:before {
  content: "\e9f1";
}
.ag-share-o:before {
  content: "\e9e9";
}
.ag-share-s-o:before {
  content: "\e9cf";
}
.ag-link-40:before {
  content: "\e9e4";
}
.ag-money-40:before {
  content: "\e97d";
}
.ag-rmb-square:before {
  content: "\e97a";
}
.ag-wallet-balance:before {
  content: "\e99c";
}
.ag-carton-sort:before {
  content: "\e9b6";
}
.ag-focus-horizontal:before {
  content: "\e907";
}
.ag-qrcode:before {
  content: "\e9ac";
}
.ag-qr-code:before {
  content: "\e920";
}
.ag-phone:before {
  content: "\e921";
}
.ag-all:before {
  content: "\e92a";
}
.ag-carton:before {
  content: "\e948";
}
.ag-caret-left:before {
  content: "\e983";
}
.ag-caret-right:before {
  content: "\ca";
}
.ag-location:before {
  content: "\e951";
}
.ag-location-o:before {
  content: "\e952";
}
.ag-card:before {
  content: "\e953";
}
.ag-card-r:before {
  content: "\e954";
}
.ag-success:before {
  content: "\e956";
}
.ag-selected-o:before {
  content: "\e957";
}
.ag-gift-o:before {
  content: "\e95b";
}
.ag-fileboard-down-o:before {
  content: "\e95d";
}
.ag-order-close:before {
  content: "\e9b7";
}
.ag-done:before {
  content: "\e95e";
}
.ag-order-manage:before {
  content: "\e95f";
}
.ag-file-o:before {
  content: "\e960";
}
.ag-exclamation-circle:before {
  content: "\e96d";
}
.ag-trash-can-o:before {
  content: "\e987";
}
.ag-loading:before {
  content: "\e98f";
}
.ag-alipay:before {
  content: "\e998";
}
.ag-wechat-o:before {
  content: "\e9f0";
}
.ag-weixin:before {
  content: "\e999";
}
.ag-more:before {
  content: "\e99b";
}
.ag-bank-logo-ecitic:before {
  content: "\ea00";
}
.ag-bank-logo-boc:before {
  content: "\ea04";
}
.ag-bank-logo-abchina:before {
  content: "\ea05";
}
.ag-bank-logo-ccb:before {
  content: "\ea06";
}
.ag-bank-logo-czbank:before {
  content: "\ea07";
}
.ag-bank-logo-tccb:before {
  content: "\ea08";
}
.ag-bank-logo-cib:before {
  content: "\ea09";
}
.ag-bank-logo-cmbchina:before {
  content: "\ea0a";
}
.ag-bank-logo-icbc:before {
  content: "\ea0b";
}
.ag-bank-logo-bankofshanghai:before {
  content: "\ea0c";
}
.ag-bank-logo-bankofbeijing:before {
  content: "\ea0d";
}
.ag-bank-logo-hkbea:before {
  content: "\ea0e";
}
.ag-bank-logo-hrbcb:before {
  content: "\ea0f";
}
.ag-bank-logo-hzbank:before {
  content: "\ea10";
}
.ag-bank-logo-hsbank:before {
  content: "\ea11";
}
.ag-bank-logo-bankcomm:before {
  content: "\ea12";
}
.ag-bank-logo-njcb:before {
  content: "\ea13";
}
.ag-bank-logo-nbcb:before {
  content: "\ea14";
}
.ag-bank-logo-spdb:before {
  content: "\ea15";
}
.ag-bank-logo-pingan:before {
  content: "\ea16";
}
.ag-bank-logo-cmbc:before {
  content: "\ea17";
}
.ag-bank-logo-hxb:before {
  content: "\ea18";
}
.ag-bank-logo-hebbank:before {
  content: "\ea19";
}
.ag-bank-logo-cgbchina:before {
  content: "\ea1a";
}
.ag-bank-logo-cebbank:before {
  content: "\ea1b";
}
.ag-bank-logo-qdccb:before {
  content: "\ea1c";
}
.ag-bank-logo-psbc:before {
  content: "\ea1d";
}
