@import "../../../../../scss/index.scss";

.ks-raffleView{
  background: $activity-bg-white;
  position: relative;
  md-content{
    .content{
      background: #ffffff;
      padding: 0 15px;
      margin-bottom: 10px;
      .content-tab{
        min-height: 59px;
        width: 100%;
        .left{
          font-size: 16px;
          color: #333333;
          margin-right: 30px;
        }
        .left-con{
          min-width: 171px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .right{
          color: #666666;
          font-size: 16px;
          input{
            width: 100%;
            border: none;
            background: #fff;
            border-radius: 8px;
            height: 32px;
            line-height: 32px;
            font-size: 16px;
            color: #666666;
          }
          input::-webkit-input-placeholder { /* WebKit browsers */
            font-size: 16px;
            letter-spacing: -0.34px;
            color: #999999;
            //text-align: center;
          }
          input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            font-size: 16px;
            letter-spacing: -0.34px;
            color: #999999;
            //text-align: center;
          }
          input::-moz-placeholder { /* Mozilla Firefox 19+ */
            font-size: 16px;
            letter-spacing: -0.34px;
            color: #999999;
            //text-align: center;
          }

          .right-R{
            font-size: 16px;
            color: #666666;

            .itemImg{
              img{
                width: 45px;
                height: 45px;
                display: block;
              }
            }

            .input-div{
              margin: 0 5px;
              input{
                font-size: 16px;
                color: #666666;
                border: 1px solid #666666;
                background: #f5f5f5;
                border-radius: 8px;
                height: 27px;
                width: 49px;
                line-height: 27px;
                text-align: center;
              }
              input::-webkit-input-placeholder { /* WebKit browsers */
                font-size: 16px;
                letter-spacing: -0.34px;
                color: #999999;
                text-align: center;
              }
              input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                font-size: 16px;
                letter-spacing: -0.34px;
                color: #999999;
                text-align: center;
              }
              input::-moz-placeholder { /* Mozilla Firefox 19+ */
                font-size: 16px;
                letter-spacing: -0.34px;
                color: #999999;
                text-align: center;
              }
            }












          }


        };
      }
    }
  }


  .mask {
    width: 100%;
    height: 100%;
    //background: -webkit-linear-gradient(#000000, #BBBBBB); /* Safari 5.1 - 6.0 */
    //background: -o-linear-gradient(#000000, #BBBBBB); /* Opera 11.1 - 12.0 */
    //background: -moz-linear-gradient(#000000, #BBBBBB); /* Firefox 3.6 - 15 */
    //background: linear-gradient(#000000, #BBBBBB); /* 标准的语法（必须放在最后） */
    opacity: 0.8;
    background-color: #101010 !important;
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0;
    .maskButton1 {
      position: absolute;
      float: right;
      width: 259px;
      height: 176px;
      right: 9px;
      background: url("share.png") no-repeat;
      background-size: 100%;
      //.shareKnow {
      //  position: absolute;
      //  border-radius: 20px !important;
      //  width: 120px;
      //  height: 40px;
      //  bottom: 0;
      //  left: 20px;
      //}
    }
  }





  .footBottom{
    width: 100%;
    height: 50px;
    .btn{
      font-size: 16px;
      color: #333;
      padding: 0 10px;
      .line { //竖线
        width: 1px;
        height: 29px;
        background: #d5d5d5;
        -webkit-transform: scaleX(0.5);
        -webkit-transform-origin: 0 0;
        overflow: hidden;
      }
      //.tab{
      //  padding: 0 5px;
      //}
    }

  }

  .dialog-pay{
    position: absolute;
    width: 100%;
    height: 100%;
    .top{
      width: 100%;
      background: rgba(0,0,0,.5);
    }
    .con{
      background: #ffffff;
      width: 100%;
      .title{
        height: 45px;
        padding: 0 20px;
        text-align: center;
        line-height: 45px;
        .right{
          font-size: 14px;
          color: #E53467;
        }
        .left{
          font-size: 14px;
          color: #666;
        }
        .name{
          font-size: 17px;
          color: #2A2B30;
        }
      }
      .tab{
        height: 42px;
        line-height: 42px;
        text-align: center;
        font-size: 16px;
        color: #999999;
        //color: #333333;
      }
    }
  }
}