<div layout="column">
    <md-divider></md-divider>
    <md-toolbar layout="row"
                layout-align="center stretch">
        <div ng-repeat="menu in footerCtrl.menus"
             flex
             layout="column"
             layout-align="center center"
             md-ink-ripple
             class="menu-item"
             ng-class="{cur:menu.name == cur}"

        >
            <div flex layout="column" ng-if="menu.shopPath" ng-click="goto('/home')">
                <md-icon md-font-set="ks-icon" md-font-icon="{{menu.iconClass}}"></md-icon>
                <div class="md-grid-text">{{menu.text}}</div>
            </div>
            <div flex layout="column" ng-if="!menu.shopPath" ui-sref="{{menu.state}}">
                <md-icon md-font-set="ks-icon" md-font-icon="{{menu.iconClass}}"></md-icon>
                <div class="md-grid-text">{{menu.text}}</div>
            </div>
        </div>
    </md-toolbar>
</div>
