<md-bottom-sheet class="md-grid ks-mdBottomSheet"
                 style=" padding-left: 0;padding-right: 0;padding-bottom: 80px;max-width: 600px;margin: 0 auto;"
                 layout="column" ng-cloak>

    <div class="header" layout="row" layout-align="space-between center">
        <div class="header-dis">已选商品</div>
        <div class="icon-btn" layout="row">
            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ag-trash-can-o"
                     ng-click="vmd.deleteOrder()"></md-icon>
            <!--<md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ag-closed" ng-click="vmd.submit()"></md-icon>-->
        </div>
    </div>
    <md-divider></md-divider>

    <md-content class="content-box" flex="" stop-touch-event>
        <div class="item-box" ng-repeat="item in  vmd.comments" layout="column">
            <div class="item" layout="row"
                 layout-align="space-between center" ng-show="item.num>0">
                <div class="item-left" layout="column">
                    <div class="item-title">{{item.sku.title}}</div>
                    <div class="item-specs">
                        <span ng-repeat="spec in item.sku.specs">{{spec.value}}</span>
                    </div>
                </div>
                <div layout="row" class="count">
                    <div class="item-price">￥{{item.sku.price/100|num:2}}</div>
                    <div class="minus" ng-mobile-click="vmd.skuNumCount(-1,item)" layout=""
                         layout-align="center center">
                        <md-icon class="iconBtn" md-font-set="ks-icon" md-font-icon="ag-minus-circle"></md-icon>
                    </div>
                    <input type="text" ng-model="item.num" layout="" layout-align="center center"/>
                    <div class="add" ng-mobile-click="vmd.skuNumCount(1,item)" layout="" layout-align="center center">
                        <md-icon class="iconBtn" md-font-set="ks-icon" md-font-icon="ag-plus-circle"></md-icon>
                    </div>
                </div>
            </div>
            <md-divider></md-divider>
        </div>
    </md-content>
    <md-divider style="z-index: -1;"></md-divider>
    <div class="footBtn" layout="row">
        <div flex class="left-wrap" layout="row">
            <div class="cart-wrap" layout="column" layout-align="center center" ng-click="vmd.cancleDialog()">
                <div class="icon-wrap" layout="column" layout-align="center center">
                    <md-icon class="icon" md-font-set="ks-icon" md-font-icon="ag-cart-line"></md-icon>
                    <!--<i class="" ng-if="vmd.totlePrice>0"></i>-->
                    <i ng-class="{'warm-i':vmd.warmchange}" ng-if="vmd.totlePrice>0"></i>
                </div>
                <div class="cart-dis">购物车</div>
            </div>
            <div class="pay-price" flex>
                合计:￥{{vmd.totlePrice/100|num:2}}
            </div>
        </div>
        <div class="goPay" ng-if="vmd.totlePrice >0 " ng-clicK="vmd.orderCreate()">
            <span>退货</span>
            <!--<span>加入购物车</span>-->
        </div>
        <div class="noPay" ng-if="vmd.totlePrice <=0 ">
            <span>退货</span>
            <!--<span>加入购物车</span>-->
        </div>
    </div>
</md-bottom-sheet>
