 <div class="ks-refundDetail"  flex="100" layout="column">
    <div class="ks-white-header" layout="row">
        <div class="back-button" flex="20" ng-click="fallbackPage()">
            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ag-arrow_left"></md-icon>
        </div>
        <h1 flex>退款详情</h1>
        <div class="right-button" flex="20">
        </div>
    </div>
    <div class="line"></div>
    <md-content flex style="overflow-x:hidden;background: #f5f5f5;">
        <div class="main" layout="column">
            <div layout="column" class="center-con">
                <!--配送方式-->
                <div class="order-status" layout="row" layout-align="start center">
                   {{items.refundStatusDesp}}
                </div>
                <!--物流公司-->
                <div layout="row"  class="logistics" layout-align="start center" ng-if="items.companyName && items.expressNo">
                    <md-icon class="ks-icon1" md-font-set="ks-icon" md-font-icon="ag-truck-o"></md-icon>
                    <div layout="column" class="logistics-xq">
                        <div class="logistics-top" layout="row" >
                            <div class="logistics-left">快递公司：</div>
                            <div class="logistics-right">{{items.companyName}}</div>
                        </div>
                        <div class="logistics-top" layout="row">
                            <div class="logistics-left">快递单号：</div>
                            <div class="logistics-right">{{items.expressNo}}</div>
                        </div>
                    </div>
                </div>
                <div class="bg-line"></div>
                <!--订单商品 ng-repeat-->
                <div class="order-goods" ng-repeat="item in items.skus">
                    <div layout="row" ui-sref="main.brandApp.store.personalCenter.orderDetail({orderId:items.orderId})">
                        <div class="img-con">
                            <img ng-src="{{item.skuImg[0]}}">
                        </div>
                        <div flex layout="row" class="img-right" layout-align="space-between center">
                            <div flex layout="column" class="img-right-type">
                                <div class="title">{{item.title}}</div>
                                <div class="goods-type">
                                    <span ng-repeat="sku in item.skuSpecs" style="margin-right: 5px;">{{sku.propValue}}</span>
                                </div>
                                <div layout="row" class="one-price" layout-align="space-between center">
                                    <div class="price">￥{{item.orderPrice/100 | num:2}}</div>
                                </div>
                            </div>
                            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ag-arrow-right-s"></md-icon>
                        </div>
                    </div>
                    <div class="line"></div>
                </div>
                <div class="bg-line"></div>
                <!--备注-->
                <div class="remark-goods" layout="column">
                    <div class="discount" layout="column">
                        <div layout="row" layout-align="space-between center">
                            <div class="discount-left">退款类型</div>
                            <div class="discount-right">{{items.refundTypeDesp}}</div>
                        </div>
                        <div class="line"></div>
                        <div layout="row" layout-align="space-between center">
                            <div class="discount-left">退款金额</div>
                            <div class="discount-right">￥{{items.refundMoney/100 |num:2}}</div>
                        </div>
                        <div class="line"></div>
                    </div>
                    <div layout="row" class="remark">
                        <div class="remark-left">退款备注</div>
                        <div class="remark-right"  flex>{{items.reason}}</div>
                    </div>
                </div>
                <div class="bg-line"></div>
               <!--下单信息-->
                <div class="detail" layout="column">
                    <div layout="row" class="detail-xq">退款人：{{items.phone}}</div>
                    <div layout="row" class="detail-xq">退款单号：{{items.seq}}</div>
                    <div layout="row" class="detail-xq">申请时间：{{items.applyTime}}</div>
                </div>
                <div class="bg-line"></div>
            </div>
        </div>
    </md-content>
     <!--按钮-->
    <div layout="column" layout-align="end cneter" class="ks-bottom" ng-if="items.refundType=='ITEM' && items.refundStatus=='WAIT_BUYER_SENDING'">
        <div class="line"></div>
        <!--待寄件-->
        <div class="confirm" layout="row">
            <button class="confirm-btn" ui-sref="main.brandApp.store.personalCenter.writeLogistics({refundId:items.id})">填写快递单号</button>
        </div>
    </div>
</div>