<!--<div flex layout="column" class="ks-lotteryDialog">-->
<!--<div class="ks-lotteryDialog-bg">-->
<!--</div>-->
<!--</div>-->


<!--<div class="md-dialog-container" id="myStaticDialog">-->
<!--<md-dialog>-->
<!--This is a pre-rendered dialog.-->
<!--</md-dialog>-->
<!--</div>-->

<md-dialog class="ks-lotteryDialog" id="ks-lotteryDialog">
    <md-dialog-content class="ks-lotteryDialog-main" ng-if="vm.ind !=0">
        <div class="ks-lotteryDialog-cancel" ng-click="vm.cancel()"></div>
        <div class="ks-lotteryDialog-label">
            <label>{{vm.ind.awardName}}</label>
        </div>
        <div class="ks-lotteryDialog-img">
            <img ng-src="{{appConfig.imgUrl}}{{vm.ind.awardImg}}">
        </div>
        <div class="ks-lotteryDialog-checked" ng-click="vm.checkSubmit()">
        </div>
        <!--<div class="ks-lotteryDialog-share" ng-click="vm.check()">-->
        <!--</div>-->
    </md-dialog-content>
    <md-dialog-actions class="ks-lotteryDialog-share" id="ks-lotteryDialog-share" ng-click="vm.check()" ng-if="vm.flog">
        <!--<div class="ks-lotteryDialog-share" ng-click="vm.check()"></div>-->
    </md-dialog-actions>
    <!--<md-dialog-content class="ks-noLotteryDialog-main" ng-if="vm.ind ==0">-->
        <!--<div class="ks-lotteryDialog-cancel" ng-click="vm.cancel()"></div>-->
        <!--<div class="ks-lotteryDialog-label">-->
            <!--<label>{{vm.ind}}哎呀,离中奖还差一丢丢的距离</label>-->
        <!--</div>-->
        <!--<div class="ks-lotteryDialog-img">-->
            <!--<img src="assets/img/lottery/ku.png" class="ku" alt="">-->
        <!--</div>-->
        <!--<div class="ks-lotteryDialog-checked" ng-click="vm.checkSubmit()">-->
        <!--</div>-->
    <!--</md-dialog-content>-->


</md-dialog>

