@import "../../../../../scss/index.scss";

.ks-receivables {
  md-content{
    .content{
      height: 160px;
      background: #FFFFFF;
      margin: 15px;
      .money{
        font-size: 28px;
        color: #ED5F5B;
        letter-spacing: -0.68px;
      }
      .desc{
        margin-top: 20px;
        font-size: 16px;
        color: #333333;
        letter-spacing: -0.39px;
      }
    }
    .footer{
      margin: 15px;
      .btn{
        height: 50px;
        border-radius: 8px;
        margin-bottom: 15px;

        font-size: 18px;
        color: #FFFFFF;
        letter-spacing: -0.43px;
      }
    }
  }
}