.ks-orderDetail {
  //时间，订单号开始
  .ks-itemOrderList-time-Box {
    background: #fff;
    //height:400px;
    //min-height: 400px;
    width: 99%;
    border: 1px solid #ddd;
    margin: 20px 0px 20px 0px;
    .ks-itemOrderList-timeBox-top, .ks-itemOrderList-timeBox-row, .ks-itemOrderList-timeBox-bottom {
      width: 100%;
      margin: 0 auto;

    }
    .ks-itemOrderList-timeBox-top {
      background: #f2f2f2;
      border-bottom: 1px solid #e0e0e0;
      line-height:46px;
      padding-left: 30px;
    }
    .ks-itemOrderList-timeBox-row {
      border-bottom: 1px dashed #e0e0e0;
    }
    .box-label{
      text-align: right;
      line-height:46px;
      b{
        font-weight: 500;
      }
    }
    .box-value{
      line-height:46px;
      padding-left: 30px;
      span{
        //overflow: hidden;
        //text-overflow :ellipsis;
      }
    }
  }
  .ks-itemOrderList-status {
    background: #fff;
    //height: 400px;
    //min-height: 400px;
    width: 99%;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 20px 0px 20px 0px;
    //卖家备注
    .ks-item-memo{
        label{
          font-weight: 500;
          height:100%;
          line-height:30px;
          min-width:70px;
          margin:20px 0 0 38px;
        }
      ul{
        width:100%;
        margin: 20px 0 0 10px;
        overflow-y: auto;
        li{
          list-style: none;
          line-height:30px;
        }
      }
    }
    b{
      font-weight:500;
    }
    .ks-itemOrderList-status-top{
      font-size:large;
      .ts{
        font-size:30px;
        color: #ba9f6e;
      }
    }
    .ks-itemOrderList-status-mid{
      margin-left: 20px;
      width: 100%;
      //.kf-serve{
        //.serve{
        //  margin:10px 0px;
        //  button{
        //    padding:0px 20px;
        //    margin-right: 20px;
        //    border:1px solid #d5d5d5;
        //    border-radius:4px;
        //    outline: none;
        //    color: #101010;
        //  }
        //}
        .blue{
          background: #00aaee;
          border:1px solid #00aaee;
          color: #fff;
        }
        .border{
          border:1px solid #d5d5d5;
          background: #fff;
        }
        .noborder{
          border:none;
          background: #fff;
          color: #00aaee;
          font-size:14px;
          font-weight: 500;
        }
        button{
          padding:0px 20px;
          margin-right: 20px;
          background:none;
          height:30px;
          line-height:30px;
          border:1px solid #d5d5d5;
          color: #101010;
          border-radius:4px;
          outline: none;
        }

      .Return{
        border:1px solid #e0e0e0;
        background: #fff;
      }
    }
    .ks-itemOrderList-status-bottom {
      margin-top: 30px;
      width: 100%;
      .Return{
        background: #fff;
        border:1px solid #e0e0e0;
      }
    }
  }
  //发货单表头
  .tableTit{
    height:42px;
    margin:0 20px;
    //border-top:2px solid #ba9f6e;
    line-height:46px;
    text-align:center;
    background: #e6e6e6;
    .tableTd{
      font-weight: 500;
      font-size:14px;
      color: #666;
    }
  }
  .tableCon{
    margin:0 20px;
    .orderNumber{
      width:100%;
      margin-top:10px;
    }
    .ordTitle{
      height: 46px;
      background: #fff9eb;
      border-top: 1px solid #d5d5d5;
      border-left: 1px solid #d5d5d5;
      border-right: 1px solid #d5d5d5;
      .tit{
        text-align: center;
        color:#101010;
        font-size:14px;
        line-height:46px;
      }
      .orderSta{
        color: #24b0ef;
      }
    }
    .ordDetail{
      background: #fff;
      border: 1px solid #d5d5d5;
      border-right:none;
      .orderXq{
        border-right:1px solid #d5d5d5;
        a{
          width:100%;
          text-align: center;
          margin-top: 10px;
          height:30px;
          line-height:30px;
        }
        .midd{
          margin-top: 46px;
          vertical-align: middle;
        }
        .xqNum{
          height: 110px;
          div{
            .pic{
              height:70px;
              width:70px;
              margin:20px 10px;
              img {
                height: 70px;
                width: 70px;
              }
            }
            .xqSend{
              text-align: left;
              margin-top:30px;
            }
            span{
              width:100%;
              text-align: center;
              height:30px;
              line-height: 30px;
              margin-top:46px;
              display: block;
            }
            .goodsDetail{
              margin-top:16px;
              span{
                margin: 0px;
                height: 22px;
                line-height:22px;
                width:100%;
              }
            }
          }
        }
        span{
          height:22px ;
          line-height:22px;
          color:#101010;
          font-size:14px;
          text-align: center;
          margin-top:46px;
          width:100%;
        }
        button{
          height:30px;
          width:70px;
          border-radius: 4px;
          background: #00aaee;
          border:none;
          text-align: center;
          color:#fff;
          display: block;
          margin: 46px auto 0;
        }
      }
    }
    .orderDiscount{
      ul{
        li{
         list-style: none;
          line-height: 30px;
          .discount-left{
            text-align: right;
            min-width: 120px;
          }
          .discount-right{
            text-align: right;
          }
        }
      }
    }
  }

}
//rmy 2017-07-20 弹窗
.md-scroll-mask{
  background: #cccccc;
  opacity: 0.45;
  z-index:111111111;
  position: fixed;
  left:0;
  top:0;
  right:0;
  left:0;
  margin:auto;
}
.md-dialog-container{
  left:0;
  top:0;
  right:0;
  bottom:0;
  margin: auto;
  position: absolute;
  z-index:11111111111;
  .refundTk{
    //遮照层3
    height: 232px;
    width: 380px;
    //弹出框
    .tck{
      position: absolute;
      background:#fff;
      left:0px;
      top:0px;
      bottom: 0px;
      right:0px;
      height:232px;
      width:380px;
      h2{
        background: #e0e0e0;
        font-weight:600;
        height: 46px;
        width:100%;
        line-height:46px;
        font-size:16px;
        text-align: center;
        margin: 0;
        border-bottom:1px solid #D5D5D5;
      }
      div{
        height:50px;
        //margin-top:30px;
        label{
          margin:5px;
          height:46px;
          line-height:46px;
          font-weight:100;
          font-size:14px;
          padding:0 30px;
        }
        select,input{
          height:30px;
          margin-top:10px;
          min-width:100px;
        }
        input{
          min-width:150px;
          border-radius:4px;
          border:1px solid #D5D5D5;
        }
        button{
          height:30px;
          margin:20px 30px 0 65px;
          padding:0 20px;
          border-radius: 4px;
          background: #fff;
          border:1px solid #D5D5D5;
        }
      }
      //拒绝接单
      .defaultTck{
        height:90px;
        margin-top:30px;
        label{
          text-align: right;
        }
        textarea{
          margin-left:10px;
          height:80px;
          width:255px;
          line-height:26px;
        }
      }
    }
  }
}