
@import "../../../../../../scss/ksMain";
@import "../../../../../../scss/index";
.ks-shopRoles{
  background: #f5f5f5;
  md-content{
    padding: 0 15px;
    .rolesList{
      .title{
        margin-top: 20px;
        margin-bottom: 15px;
        font-size: 16px;
        height: 16px;
        line-height: 16px;
        color: #333333;
      }
      .desc{
        font-size: 14px;
        color: #999999;
        margin-bottom: 15px;
      }
    }
  }
}