<md-dialog class="ks-lotteryRules">
    <md-toolbar>
        <div class="ks-lotteryRules-title">
            <label>游戏规则</label>
            <div class="ks-lotteryRules-cancel" ng-click="vm.cancel()">
                +
                <!--<md-icon md-font-set="ks-icon" md-font-icon="ks-close">+</md-icon>-->
            </div>
        </div>
    </md-toolbar>
    <md-dialog-content class="ks-lotteryRules-main">
        <!--<div class="ks-lotteryRules-title">-->
            <!--<label>游戏规则</label>-->
            <!--<div class="ks-lotteryRules-cancel" ng-click="vm.cancel()">-->
                <!--<md-icon md-font-set="ks-icon" md-font-icon="ks-close"></md-icon>-->
            <!--</div>-->
        <!--</div>-->

            <div class="ks-lotteryRules-list">
                <md-content>
                    <div ng-include="tplUrl">
                    <!--<div>-->
                        <!--<p>232342342</p>-->
                        <!--<p>232342342</p>-->
                        <!--<p>232342342</p>-->
                        <!--<p>232342342</p>-->
                        <!--<p>232342342</p>-->
                        <!--<p>232342342</p>-->
                        <!--<p>232342342</p>-->
                        <!--<p>232342342</p>-->
                        <!--<p>232342342</p>-->
                        <!--<p>232342342</p>-->
                        <!--<p>232342342</p>-->
                        <!--<p>232342342</p>-->
                        <!--<p>232342342</p>-->
                        <!--<p>232342342</p>-->
                        <!--<p>232342342</p>-->
                        <!--<p>232342342</p>-->
                    </div>
                </md-content>
            </div>

    </md-dialog-content>
</md-dialog>