<!--
<div class="ks-login" layout="column" ng-if="!global.at">
   net.kingsilknet.kingsilk.qh.platformency.wapkingsilknet.kingsilk.qh.platformency.wapngsilknet.kingsilk.qh.platformency.adminkingsilknet.kingsilk.qh.platformency.adminngsilknet.kingsilk.qh.platformency.adminkingsilknet.kingsilk.qh.platformency.adminclass="img-wrap">
        <img src="https://img.kingsilk.net/FgaZnyDUYaIpWQK3iPr6cDT4rYf6">
    </div>
    <div class="center-wrap" flex layout="column" layout-align="center center">
        <div class="parent" layout="column" layout-align="end end">
            <div class="contentRight">
                <div class="contentRightHeader">
                    好太太后台管理系统
                </div>
                <div class="contentRightCenter">
                    <div class="centerBtn" ng-click="login('PASSWORD')">
                        <span>密码登录</span>
                    </div>
                </div>
                <div class="fotter">
                    &lt;!&ndash; <span>-&#45;&#45;&#45;&#45;公众号授权登录&#45;&#45;&#45;&#45;</span>
                     <md-icon class="icon" md-font-set="ks-admin-font" md-font-icon="ks-wechat"
                              ng-click="login('WX',true)"></md-icon>
                     <span>&#45;&#45;&#45;&#45;公众号扫码登录&#45;&#45;&#45;&#45;</span>
                     <md-icon class="icon" md-font-set="ks-admin-font" md-font-icon="ks-wechat"
                              ng-click="login('WX_SCAN',true)"></md-icon>
                     <span>&#45;&#45;&#45;&#45;微信企业号内部登录&#45;&#45;&#45;&#45;</span>
                     <md-icon class="icon" md-font-set="ks-admin-font" md-font-icon="ks-wechat"
                              ng-click="login('WX_QYH',true)"></md-icon>&ndash;&gt;
                    <span>&#45;&#45;&#45;&#45;企业号扫码登录-&#45;&#45;</span>
                    <md-icon class="icon" md-font-set="ks-admin-font" md-font-icon="ks-wechat"
                             ng-click="login('WX_QYH_SCAN',true)"></md-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="txt">
            <span>
                Copyright © 2015-2016杭州钱皇网络科技有限公司
            </span>
            &lt;!&ndash; <span>
                 建议分辨率1280*720，浏览器
             </span>&ndash;&gt;
            <span class="lode">
                <a href="http://www.firefox.com.cn/download/" target="_blank">火狐下载</a>
            </span>
        </div>
    </div>
    <md-button ng-click="logout()">退出</md-button>
</div>
-->


<!--<div class="ks-login" layout="column">-->
<!--<div class="img-wrap">-->
<!--<img src="https://img.kingsilk.net/FgaZnyDUYaIpWQK3iPr6cDT4rYf6">-->
<!--</div>-->
<!--<div class="center-wrap" flex layout="column" layout-align="center center">-->
<!--<div class="parent" layout="column" layout-align="end end">-->
<!--<div class="contentRight">-->
<!--<div class="contentRightHeader" style="color: #333">-->
<!--生意参谋后台管理系统-->
<!--</div>-->
<!--<div class="contentRightCenter" style="margin-top: 60px">-->
<!--<div class="centerBtn" ng-click="login('PASSWORD')">-->
<!--<span>密码登录</span>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;<div class="fotter">&ndash;&gt;-->
<!--&lt;!&ndash;<span>&#45;&#45;&#45;&#45;企业号扫码登录-&#45;&#45;</span>&ndash;&gt;-->
<!--&lt;!&ndash;<md-icon class="icon" md-font-set=net.kingsilknet.kingsilk.qh.platformency.admindmin-font" md-font-icon="ks-wechat"&ndash;&gt;-->
<!--&lt;!&ndash;ng-click="login('WX_QYH_SCAN',true)"></md-icon>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div class="contentRightCenter" ng-click="login('WX_QYH_SCAN',true)">-->
<!--<div class="centerBtn" style="background: #24b24e">-->
<!--<span>企业号扫码登录</span>-->
<!--</div>-->
<!--</div>-->


                <!--<div class="ks-login" layout="column">-->
                <!--<div class="img-wrap">-->
                <!--<img src="https://img.kingsilk.net/FgaZnyDUYaIpWQK3iPr6cDT4rYf6">-->
                <!--</div>-->
                <!--<div class="center-wrap" flex layout="column" layout-align="center center">-->
                <!--<div class="parent" layout="column" layout-align="end end">-->
                <!--<div class="contentRight">-->
                <!--<div class="contentRightHeader" style="color: #333">-->
                <!--经销商后台管理系统-->
                <!--</div>-->
                <!--<div class="contentRightCenter" style="margin-top: 60px">-->
                <!--<div class="centerBtn" ng-click="login('PASSWORD')">-->
                <!--<span>密码登录</span>-->
                <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash;<div class="fotter">&ndash;&gt;-->
                <!--&lt;!&ndash;<span>&#45;&#45;&#45;&#45;企业号扫码登录-&#45;&#45;</span>&ndash;&gt;-->
                <!--&lt;!&ndash;<md-icon class="icon" md-font-set=net.kingsilknet.kingsilk.qh.platformency.admindmin-font" md-font-icon="ks-wechat"&ndash;&gt;-->
                <!--&lt;!&ndash;ng-click="login('WX_QYH_SCAN',true)"></md-icon>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--<div class="contentRightCenter" ng-click="login('WX_QYH_SCAN',true)">-->
                <!--<div class="centerBtn" style="background: #24b24e">-->
                <!--<span>企业号扫码登录</span>-->
                <!--</div>-->
                <!--</div>-->

                <!--&lt;!&ndash;<div class="contentRightCenter">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="centerBtn" style="border:1px solid #333333;background: none" ng-click="logout()">&ndash;&gt;-->
                <!--&lt;!&ndash;<span>退出</span>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="bottom">-->
                <!--<div class="txt">-->
                <!--<span>-->
                <!--Copyright © 2017杭州钱皇网络科技有限公司-->
                <!--</span>-->
                <!--&lt;!&ndash; <span>-->
                <!--建议分辨率1280*720，浏览器-->
                <!--</span>&ndash;&gt;-->
                <!--<span class="lode">-->
                <!--<a href="http://www.firefox.com.cn/download/" target="_blank">火狐下载</a>-->
                <!--</span>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->