<!--<div flex="100" layout="column" class="wxLogin">-->
    <!--<div class="ks-white-header" layout="row">-->
        <!--<div class="back-button" flex="20" ng-click="fallbackPage()">-->
            <!--<md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ag-arrow_left"></md-icon>-->
        <!--</div>-->
        <!--<h1 flex>微信登录</h1>-->
        <!--<div class="right-button" flex="20">-->
        <!--</div>-->
    <!--</div>-->
    <!--<md-divider></md-divider>-->
    <!--<md-content flex>-->
        <!--<div class="content-divWrap" layout="column" layout-align="center center">-->
            <!--<div flex class="topWrap" layout="column" layout-align="center center">-->
                <!--<div class="txt" flex>账号太多记不住？</div>-->
                <!--<div class="txt" flex>微信一键登录，更安全，更方便</div>-->
            <!--</div>-->
            <!--<md-icon flex class="font" md-font-set="ks-icon" md-font-icon="ag-weixin"></md-icon>-->
            <!--<div flex class="btnWrap">-->
                <!--<div class="btn" ng-click="wxLogin()">微信登录</div>-->
                <!--<br/>-->
                <!--&lt;!&ndash;<div class="btn" ng-click="wxQyhLogin()">企业号登录</div>&ndash;&gt;-->
            <!--</div>-->
            <!--<div flex class="bottomTxt">点击登录意味着您同意<a ng-click="goRent()" href="">《用户协议》</a></div>-->
        <!--</div>-->
        <!--&lt;!&ndash;<md-button class="md-primary md-raised" ui-sref="main.brandApp.shelves()">首页</md-button>&ndash;&gt;-->
        <!--&lt;!&ndash;<md-button class="md-primary md-raised" ng-click="logout()">退出</md-button>&ndash;&gt;-->

    <!--</md-content>-->


<!--</div>-->