<div flex="100" layout="column" class="ks-refundList">
    <div class="ks-white-header" layout="row">
        <div class="back-button" flex="20" ng-click="fallbackPage()">
            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ag-arrow_left"></md-icon>
        </div>
        <h1 flex>
            <div>退款/售后</div>
        </h1>
        <div class="right-button" flex="20">
        </div>
    </div>
    <md-divider></md-divider>
    <div class="search" layout="row">
        <div class="search-input" flex layout="row">
            <div class="left">
                <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ag-search-left"></md-icon>
            </div>
            <div class="con" flex>
                <input type="text" ng-model="keyWord" placeholder="搜索订单号" ng-focus="focus(true)" ng-blur="focus(false)">
            </div>
            <div class="right" ng-show="searchShow" ng-click="clearKeyWord()">
                <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ag-closed-o"></md-icon>
            </div>
        </div>
        <div class="search-btn" ng-show="searchShow" ng-click="search()">搜索</div>
    </div>




    <div class="tab" layout="row">
        <div class="tab-btn" ng-click="tabs(1)">
            <span class="btn" ng-class="{active:isClick == 1}">全部</span>
        </div>
        <div class="tab-btn" ng-click="tabs(2)">
            <span class="btn" ng-class="{active:isClick == 2}">待确认</span>
        </div>
        <div class="tab-btn" ng-click="tabs(3)">
            <span class="btn" ng-class="{active:isClick == 3}">待收货</span>
        </div>
        <div class="tab-btn" ng-click="tabs(4)">
            <span class="btn" ng-class="{active:isClick == 4}">已完成</span>
        </div>
    </div>





    <md-divider></md-divider>

    <md-content flex style="overflow-x: hidden;background: #f5f5f5"   ng-if="refundList.content.length > 0">
        <div class="orderTab" ng-repeat="refund in refundList.content">
            <div class="order-title" layout="row" layout-align="space-between center"   ui-sref="main.brandApp.store.refund.refundDetail({id:refund.id})">
                <div class="left">订单号:{{refund.seq}}</div>
                <div class="right">
                    <span ng-if="refund.refundStatus=='WAIT_SELLER_RECEIVED'">待收货</span>
                    <span ng-if="refund.refundStatus !=='WAIT_SELLER_RECEIVED'"> {{refund.refundStatusDesp}}</span>

                </div>
            </div>
            <md-divider></md-divider>
            <div class="itemList" ng-repeat="item in refund.skus track by $index"   ui-sref="main.brandApp.store.refund.refundDetail({id:refund.id})">
                <div class="item" layout="row">
                    <div class="item-img">
                        <img ng-src="{{item.skuImg[0]}}">
                    </div>
                    <div flex class="item-desc" layout="column" layout-align="space-between start">
                        <div class="item-name">{{item.title}}</div>
                        <div class="item-desp">
                            <span ng-repeat="spec in item.skuSpecs">{{spec.propValue}}</span>
                        </div>
                    </div>
                    <!--<div class="item-price" layout="column">-->
                        <!--<div class="nowPrice">{{item.orderPrice/100 | num:2}}</div>-->
                        <!--<div class="oldPrice">{{item.skuPrice/100 | num:2}}</div>-->
                        <!--<div class="num">X {{item.applyedNum}}</div>-->
                    <!--</div>-->
                </div>
                <md-divider></md-divider>
                <!--<md-divider style="border-top-style:dashed;" ng-if="$index !== refund.skus.length-1"></md-divider>-->
            </div>

            <div class="item-total"   ui-sref="main.brandApp.store.refund.refundDetail({id:refund.id})">
                <!--共计{{refund.skus[0].applyedNum}}件商品&nbsp;&nbsp;&nbsp;&nbsp;-->
                退款金额: ￥{{refund.refundMoney/100 | num:2}}
            </div>
            <md-divider ng-if="refund.refundStatus=='UNCHECKED' || refund.refundStatus=='WAIT_SELLER_RECEIVED'"></md-divider>
            <div class="itemBtn" layout="row" layout-align="end center" ng-if="refund.refundStatus=='UNCHECKED'">
                <div class="btn btn-style1" ng-click="refundConfirm(false,refund.id)">拒绝</div>
                <div class="btn btn-style2" ng-click="refundConfirm(true,refund.id)">同意</div>
            </div>
            <div class="itemBtn" layout="row" layout-align="end center" ng-if="refund.refundStatus=='WAIT_SELLER_RECEIVED'">

                <div class="btn btn-style2" ng-click="received(refund.id)">确认收货</div>
                <!--<div class="btn btn-style2">确认</div>-->

            </div>
        </div>




        <!--分页-->
        <div layout="row" layout-align="center center" style="padding: 10px;min-height: 44px;background: #f5f5f5;" ng-show="refundList.totalPages>1">
            <md-button  flex style="color: #999;box-shadow: 0 0 0 0 #fff;background: #f5f5f5;" ng-click="pageChange(currpage+1)" ng-show="refundList.number<refundList.totalPages-1">
                点击加载更多...
            </md-button>
            <md-button  flex style="color: #999;box-shadow: 0 0 0 0 #fff;background: #f5f5f5;"
                        ng-show="refundList.number>=refundList.totalPages-1">
                没有更多退货单了
            </md-button>
        </div>


    </md-content>

    <md-content flex layout="column" class="empty"
                ng-if="refundList.content.length<=0"
                style="overflow-x: hidden;    background: #f5f5f5;">
        <!--<div class="top-line"></div>-->
        <div flex layout="column" layout-align="center center">
            <md-icon md-font-set="ks-icon" md-font-icon="ag-order-manage" class="icon"></md-icon>
            <div class="txt" style="margin-bottom: 100px">暂无退货单～</div>
        </div>
    </md-content>
</div>




